.jot-err
{
	border: 1px solid #DD642F;
	font-weight: bold;
	color: #DC632E;
	padding: 5px;
	margin-bottom: 10px;
}
.jot-cfm
{
	border: 1px solid #F26F21;
	font-weight: bold;
	color: #F26F21;
	padding: 5px;
	margin-bottom: 10px;
}
.jot-row
{
	border: 1px solid #DA6925;
	margin-bottom: 10px;
	background-color: #E9E9E9;
}
.jot-row-alt
{
	background-color: #FDECE4;
}
.jot-row-author
{
	background-color: #FEE2D1;
}
.jot-row-me
{
	background-color: #FCCA97;
}
.jot-row-up
{
	border: 1px dotted #FF0000;
}
.jot-row-new
{
	border: 1px dotted #008000;
}
.jot-comment
{
	padding: 3px;
}
.jot-comment HR
{
	border: 0px solid #000000;
	border-bottom: 1px solid #D96824;
}
.jot-posticon
{
	float: right;
	width: 20px;
	height: 20px;
	padding-top: 8px;
	padding-right: 3px;
}
.jot-posticon IMG
{
	border: 0px solid #000000;
	display: none;
}
.jot-mod
{
	float: right;
	width: 100px;
	text-align: right;
	color: #666666;
	font-weight: bold;
}
.jot-mod IMG
{
	border: 0px solid #000000;
}
.jot-mod A
{
	float: right;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
}
.jot-mod A:hover
{
	background-color: #666666;
	color: #666666;
}
.jot-subject
{
	font-weight: bold;
	font-size: 1.1em;
}
.jot-message
{
	padding: 2px;
	overflow: auto;
}
.jot-poster
{
	padding: 0px;
	text-align: left;
	font-size: 10px;
}
.jot-nav
{
	padding: 0px;
	text-align: center;
	margin: 10px;
}
.jot-list UL
{
	padding: 0px;
	text-align: left;
	margin-bottom: 10px;
	list-style-position: inside;
}
.jot-subscribe
{
	margin-bottom: 10px;
}
.jot-form
{
	margin-bottom: 10px;
}
.jot-form FIELDSET
{
	border: 0px solid #000000;
}
.jot-form LABEL
{
	display: block;
}
.jot-user
{
	float: left;
	width: 80px;
}
.jot-content
{
	margin-left: 80px;
}
.jot-extra
{
	text-align: right;
}
.jot-editby
{
	font-size: 10px;
	color: #666666;
	font-style: italic;
}
