@charset "utf-8";

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after,
.topline:after,
.top_menu:after,
.delivery_city:after,
.product:after,
.product .img_hold:after,
.checkout_form dl:after,
.category_item_head:after,
.category_item_hold li:after,
.line_hold:after,
.top_address:after,
.mobile_h:after,
.address_hold:after,
.cart_top:after,
.how_buy:after,
.how_buy .how_buy_bottom:after {
    content: ' ';
    clear: both;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #FFF;
    font: normal 16px/24px Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

fieldset,
form,
figure {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}

/* Input */

input,
textarea,
select,
button {
    font: normal 14px Arial, Helvetica, sans-serif;
    color: #000;
    outline: none;
    line-height: normal;
}

input,
textarea,
select {
    margin: 0;
    border: 1px solid #c1c5c8;
    outline: none;
    border-radius: 2px;
    -webkit-box-shadow: 2px 2px 2px -1px rgba(180, 188, 191, 0.5) inset;
    box-shadow: 2px 2px 2px -1px rgba(180, 188, 191, 0.5) inset;
    background: #fff;
    vertical-align: middle;
    padding: 6px 8px;
}

input:focus,
textarea:focus,
select:focus {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5), 2px 2px 2px -1px rgba(180, 188, 191, 0.5) inset;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5), 2px 2px 2px -1px rgba(180, 188, 191, 0.5) inset;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

::-webkit-input-placeholder {
    color: #000;
}

::-moz-placeholder {
    color: #000;
}

:-moz-placeholder {
    color: #000;
}

:-ms-input-placeholder {
    color: #000;
}

textarea {
    resize: none;
}

/* END Input */

header,
footer,
section,
nav,
article,
menu,
figure,
figcaption,
aside,
time,
main {
    display: block;
}

img {
    border: 0;
    vertical-align: top;
}

a,
.popup_link {
    cursor: pointer;
    color: #0070AA;
    text-decoration: underline;
    outline: none;
}

a:hover,
.popup_link:hover {
    text-decoration: none;
}

strong {
    font-weight: bold;
}

/* Table */

table {
    width: 100%;
    margin: 0 0 20px;
    border-collapse: collapse;
    border: 1px solid #DCDFE2;
    border-radius: 30px;
}

td,
th {
    vertical-align: middle;
    text-align: left;
    padding: 9px 10px;
}

td {
    border-bottom: 1px solid #DCDFE2;
}

th {
    background: #F5F5F5;
}

/* END Table */

article,
p {
    margin: 0 0 20px;
}

ul {
    padding: 0 0 0 18px;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
}

ol {
    list-style-type: none;
    counter-reset: num;
    padding: 0;
    margin: 0;
}

ol li:before {
    content: counter(num) '. ';
    counter-increment: num;
    font-weight: bold;
}

h1,
h2,
h3,
.h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-size: 12px;
    margin: 0 0 3px;
    font-weight: bold;
}

h1,
.h1 {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 1.2;
}

h2,
.h2 {
    font-size: 16px;
    margin-bottom: 3px;
    font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}

.nofloat {
    height: 100%;
    overflow: hidden;
}

.cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.inline {
    display: inline-block;
    text-align: left;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.red {
    color: #E40530;
}

.grey {
    color: #808080;
}

.green,
.category_price {
    color: #05A300;
}

.article_img {
    margin-bottom: 20px;
}

.article_img img {
    width: 100%;
    height: auto
}

.article_img.fl,
.article_img.fr {
    max-width: 50%;
}

.article_img.fl {
    margin-right: 20px;
}

.article_img.fr {
    margin-left: 20px;
}

.wrapper,
.footer {
    min-height: 100%;
    max-width: 10000px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: left;
}

.header {
    position: relative;
    margin-bottom: 13px;
    padding: 10px 0 0;
}

.logo {
    width: 248px;
    float: left;
    margin: 3px 0 18px 29px;
}

.logo img {
    width: 100%;
    height: auto;
}

.top_menu {
    position: relative;
    background: #f56534;
    text-align: center;
    display: table;
    width: 100%;
}
.top_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table-row;
}

.top_menu ul li {
    margin: 0;
    padding: 0;
    display: table-cell;
}

.top_menu a,
.top_menu .active {
    color: #fff;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    height: 50px;
    line-height: 44px;
}

.top_menu a:hover,
.top_menu .active {
    color: #010101;
    background: #ffc859;
    background: -moz-linear-gradient(top, #ffc859 0%, #ffab01 100%);
    background: -webkit-linear-gradient(top, #ffc859 0%, #ffab01 100%);
    background: linear-gradient(to bottom, #ffc859 0%, #ffab01 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc859', endColorstr='#ffab01', GradientType=0 );
    text-shadow: 0 1px 0 #FFFFFF;
}
.top_menu .hold {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
}

.header .cart_block {
    float: right;
}

.head_img {
    float: right;
    margin: -20px 50px 0 55px;
    background: #e7eaef;
    padding-bottom: 7px;
}

.top_address {
    font-style: normal;
    float: right;
    margin: 3px 0 10px;
    border-left: 1px dashed #dadada;
    padding: 4px 0 2px 0;

}
.top_address .address_block {
    display: inline-block;
    vertical-align: top;
    margin-left: 19px;
}

.header .mail {
    display: block;
    padding: 0 3px 0 35px;
    position: relative;
    font-size: 14px;
}

.header .mail:after,
.header .phone_num:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    background: url('../img/ico.png') no-repeat 0 0;
    background-size: 40px auto;
}
.header .phone_num:after {
    width: 25px;
    height: 20px;
    background-position: 0 -100px;
    top: 3px;
}

.header .mail:after {
    width: 25px;
    height: 22px;
    background-position: 0 -73px;
    top: 3px;
}

.header .phone_num {
    display: block;
    text-decoration: none;
    position: relative;
    padding: 1px 0 0 34px;
    color: #0070aa;
    margin-bottom: 3px;
    font-size: 16px;
}

.phone_num {
    text-decoration: none;
    color: #333;
}
.call_back {
    text-align: center;
}

.call_back .btn {
    display: inline-block;
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    padding: 6px 12px 8px;
    text-transform: none;
    cursor: pointer;
    text-shadow: 0 1px 0 #FFFFFF;
    background: #ffc859;
    background: -moz-linear-gradient(top, #ffc859 0%, #ffab01 100%);
    background: -webkit-linear-gradient(top, #ffc859 0%, #ffab01 100%);
    background: linear-gradient(to bottom, #ffc859 0%, #ffab01 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc859', endColorstr='#ffab01', GradientType=0 );
}


.time_work {
    float: left;
    color: #333;
    margin: 0 15px 10px 0;
    background: #fff;
    line-height: 20px;
    padding: 8px 5px 0 34px;
    text-align: left;
    font-size: 16px;
    position: relative;
}
.time_work:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    background: url(../img/ico.png) no-repeat 0 -43px;
    background-size: 40px auto;
    top: 9px;
}

.time_work .time_work_block {
    margin-top: 1px;
    font-size: 14px;
}

.time_work .time_work_bottom {
    font-size: 14px;
}
.time_work .red {
    color: #f56534;
}

.address_hold {
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px 0
}
.line_hold {
    text-align: center;
}

.content {
    padding-left: 2px;
    margin-bottom: 20px;
}

.content:after {
    content: ' ';
    clear: both;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
}

.mainContent {
    width: 82%;
    padding: 0 2%;
    float: right;
}

.aside {
    width: 18%;
    float: left;
}

.footer-place {
    height: 58px;
    clear: both;
}

.footer {
    min-height: 58px;
    margin: -58px auto 0 auto;
    border-top: 6px solid #DD052F;
    padding-top: 15px;
}

.nav_bottom {
    text-align: center;
}

.nav_bottom a,
.nav_bottom span {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #6B6A6A;
    background: #F5F5F5;
    padding: 6px 9px;
}

.nav_bottom a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #F56534;
    transition: width .3s ease-in-out;
}

.nav_bottom a:hover:after,
.nav_bottom a:focus:after {
    width: 100%;
}

.nav_bottom span {
    border-bottom: 2px solid #F56534;
}

.cart_block {
    background: #f5f5f5;
    margin: 0 12px 10px 0;
    padding: 13px 12px 9px 70px;
    font-size: 12px;
    position: relative;
}

.cart_block:after {
    content: '';
    display: block;
    background: url('../img/ico.png') no-repeat 0 0;
    background-size: 40px auto;
    width: 40px;
    height: 39px;
    position: absolute;
    left: 16px;
    top: 20px;
}

.cart_block,
.cart_block a {
    color: #333333;
}

.cart_block h6 {
    font-size: 14px;
    margin: 0;
    padding: 3px 0 0;
    float: left;
    font-weight: normal;
}

.cart_block h6 a {
    line-height: 1;
    display: inline-block;
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

.cart_block h6 a:after {
    display: block;
    content: "";
    height: 1px;
    width: 0;
    background-color: #333333;
    transition: width .3s ease-in-out;
}

.cart_block h6 a:hover:after,
.cart_block h6 a:focus:after {
    width: 100%;
}
.cart_block .cart_order {
    color: #0070aa;
    font-size: 12px;
    float: right;
}

.cart_block .cart_top {
    margin-bottom: 11px;
}

.shopping_cart {
    text-align: left;
}

.shopping_cart dl,
.shopping_cart dt,
.shopping_cart dd {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.shopping_cart dl {
    margin-right: 10px;
}

.shopping_cart dt,
.shopping_cart dd {
    padding-right: 4px;
    line-height: 1.2;
}


.nav_side {
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 10px;
    padding: 0 10px 10px 5px;
    background: #F5F5F5;
}

.nav_side .menu_section {
    font-weight: bold;
    cursor: default;
    margin-bottom: 1px;
    display: block;
}

.nav_side ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav_side ul li {
    margin: 0 0 7px;
    padding: 0;
    position: relative;
}

.nav_side ul li a,
.nav_side .mobile_menu_link a {
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.nav_side ul li.active a {
    color: #F56534;
    font-weight: bold;
}
.nav_side .mobile_menu_link {
    display: none;
}

.nav_side ul li ul {
    padding-left: 13px;
}

.nav_side ul li ul li {
    padding-left: 12px;
    margin-bottom: 3px;
}

.nav_side ul li ul li:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #F66634 url('../img/main_icon.png') no-repeat 0 -64px;
    position: absolute;
    top: 7px;
    left: 0;
}

.nav_side ul li ul li a:hover,
.nav_side .mobile_menu_link a:hover {
    text-decoration: none;
    color: #F56534;
}

.info_link_section {
    color: #E20530;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    display: block;
    cursor: default;
    border-top: 7px solid #FF9400;
    position: relative;
    padding: 3px 0 0 55px;
    min-height: 30px;
    margin-bottom: 10px;
    line-height: 1.6;
}

.info_link_section:before {
    content: 'i';
    display: block;
    width: 51px;
    height: 30px;
    background: #FF9400;
    border-radius: 10px;
    position: absolute;
    top: -7px;
    left: -9px;
    text-align: center;
    color: #fff;
    text-transform: none;
    font-size: 16px;
    line-height: 30px;
}

.info_link_section:after {
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    border: 2px solid #FDB348;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: -3px;
}

.review_side .info_link_section {
    margin-left: -19px;
    margin-right: -19px;
}

.review_side .mobile_hide {
    margin-top: 18px;
}

.review_side ul,
.review_side ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.review_side {
    color: #666;
    font-size: 14px;
    padding: 0 19px;
    margin: 0 0 10px 8px;
    background: #F5F5F5;
}

.review_side time {
    display: inline-block;
}

.review_side p {
    margin-bottom: 0;
}

.review_side ul li {
    font-size: 11px;
    line-height: 1.5;
    margin-bottom: 10px;
    overflow: hidden;
}

.mobile_cart {
    position: absolute;
    left: -59px;
    top: 30px;
    background: #F66634;
    z-index: 100;
    width: 59px;
    height: 48px;
    cursor: pointer;
    border-radius: 12px 0 0 12px;
    display: none;
}

.mobile_cart:before {
    top: 12px;
    left: 5px;
}

.mobile_cart:after {
    content: '';
    display: block;
    width: 21px;
    height: 20px;
    background: url(../img/ico.png) no-repeat 0 -63px;
    background-size: 20px auto;
    position: absolute;
    left: 10px;
    bottom: 7px;
}

.mobile_cart .shoping_num {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    position: absolute;
    right: 4px;
    top: 4px;
    background: #F66634;
}


.menu_label_ico {
    display: none;
    width: 58px;
    height: 48px;
    position: fixed;
    z-index: 100;
    background: #F66634;
    top: 26px;
    left: 0;
    border-radius: 0 12px 12px 0;
    padding: 9px 0 0 9px;
    cursor: pointer;
}

.nav-toggle {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 25px;
    vertical-align: middle;
}

.nav-toggle span {
    position: absolute;
    left: 0;
    top: 10px;
}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
    position: absolute;
    display: block;
    content: '';
    height: 5px;
    width: 35px;
    background: white;
    border-radius: 1px;
}

.nav-toggle span:before {
    top: -10px;
}

.nav-toggle span:after {
    bottom: -10px;
}

.padding_top {
    padding-top: 51px;
}

.small_txt {
    font-size: 12px;
}

.goods {
    margin: 0 0px 20px 0;
}

.goods .h3 {
    margin-bottom: 20px;
}

.goods_hold {
    text-align: justify;
    line-height: 0;
}

.goods_hold:after {
    content: '';
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.goods_block {
    height: 350px;
    text-align: center;
    width: 245px;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 30px 0;
    padding: 10px 15px 0;
    overflow: hidden;
    border-radius: 3px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.goods_block:hover {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.goods_block .top_txt {
    color: #808080;
    display: inline-block;
    margin-bottom: 10px;
    height: 47px;
    overflow: hidden;
    line-height: 24px;
}

.goods_block a {
    text-decoration: none;
}

.goods_block .img {
    display: block;
    margin-bottom: 10px;
    line-height: 200px;
}

.goods_block .img img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.goods_block .txt {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    text-decoration: underline;
}

.goods_block a:hover .txt {
    text-decoration: none;
}

.menu_content {
    font-size: 15px;
    margin-bottom: 29px;
}

.left_text_block {
    padding-left: 300px;
    position: relative;
}

.left_text_block .img_block {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    text-align: center;
    overflow: hidden;
}

.left_text_block .img_block .img_hold {
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.left_text_block .img_block .img_hold img {
    margin-bottom: 10px;
}

.info_text {
    border-left: 3px solid #FF9900;
    padding: 9px 10px;
    margin: 7px 0;
}
.recall {
    color: #F66634;
}

.aliRight {
    text-align: right;
}

.info_link {
    padding: 10px 0 0;
    margin: 0 0 20px;
}

.info_link .h2 {
    background: #FF9400;
    color: #fff;
    padding: 10px 18px;
    margin-bottom: 20px;
}

.info_link .goods_block {
    border: 1px solid #FF9400;
    height: auto;
    padding-bottom: 15px;
}

.info_link .goods_block .txt {
    height: 46px;
    overflow: hidden;
}

.info_link .goods_hold {
    height: 293px;
    overflow: hidden;
    margin-bottom: 20px;
}

.attention {
    position: relative;
    padding: 0 0 0 55px;
    width: 70%;
    margin-bottom: 15px;
}

.attention:before {
    content: '!';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 38px;
    background: #663399;
    color: #fff;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
}

.attention p {
    margin-bottom: 4px;
}

.delivery_city {
    margin-bottom: 20px;
}

.delivery_city .delivery_city_block {
    float: left;
    width: 340px;
    padding-right: 20px;
}

.delivery_city h2 {
    margin-bottom: 20px;
}

.delivery_city .delivery_city_block ul {
    padding: 0;
    margin: 0 0 25px;
    list-style: none;
}

.delivery_city .delivery_city_block ul li {
    margin: 0;
    padding: 0;
}

.delivery_city .delivery_city_block ul li:first-child {
    font-size: 2em;
    margin-bottom: 10px;
}

.btn {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
    padding: 4px 15px;
    line-height: normal;
    text-transform: uppercase;
    font-size: 15px;
    border: none;
    background: #F66634;
    border-radius: 3px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.btn:hover {
    text-decoration: none;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.btn_red {
    border-bottom: 2px solid #911518;
    border-left: 1px solid #AE2529;
    border-right: 1px solid #AE2529;
    border-top: 1px solid #C73339;
    background: #c32f33;
    background: -moz-linear-gradient(top, #c32f33 0%, #b50308 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c32f33), color-stop(100%, #b50308));
    background: -webkit-linear-gradient(top, #c32f33 0%, #b50308 100%);
    background: -o-linear-gradient(top, #c32f33 0%, #b50308 100%);
    background: -ms-linear-gradient(top, #c32f33 0%, #b50308 100%);
    background: linear-gradient(to bottom, #c32f33 0%, #b50308 100%);
}

.btn_blue {
    background: #00a2df;
    background: -moz-linear-gradient(top, #00a2df 0%, #006fcb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a2df), color-stop(100%, #006fcb));
    background: -webkit-linear-gradient(top, #00a2df 0%, #006fcb 100%);
    background: -o-linear-gradient(top, #00a2df 0%, #006fcb 100%);
    background: -ms-linear-gradient(top, #00a2df 0%, #006fcb 100%);
    background: linear-gradient(to bottom, #00a2df 0%, #006fcb 100%);
    text-transform: none;
    font-weight: bold;
    text-shadow: 0 1px 0 #0075b6;
    padding: 8px 15px;
}

.btn_blue:hover {
    background: #00a2df;
    background: -moz-linear-gradient(top, #00a2df 0%, #00a2df 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a2df), color-stop(100%, #00a2df));
    background: -webkit-linear-gradient(top, #00a2df 0%, #00a2df 100%);
    background: -o-linear-gradient(top, #00a2df 0%, #00a2df 100%);
    background: -ms-linear-gradient(top, #00a2df 0%, #00a2df 100%);
    background: linear-gradient(to bottom, #00a2df 0%, #00a2df 100%);
}

.btn_grey {
    background: #f9fafa;
    background: -moz-linear-gradient(top, #f9fafa 0%, #e4f1f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9fafa), color-stop(100%, #e4f1f5));
    background: -webkit-linear-gradient(top, #f9fafa 0%, #e4f1f5 100%);
    background: -o-linear-gradient(top, #f9fafa 0%, #e4f1f5 100%);
    background: -ms-linear-gradient(top, #f9fafa 0%, #e4f1f5 100%);
    background: linear-gradient(to bottom, #f9fafa 0%, #e4f1f5 100%);
    border: 1px solid #C6D3D6;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.11);
    color: #4f4f4f;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 10px;
    text-transform: none;
}

.btn_grey:hover {
    background: #f9fafa;
    background: -moz-linear-gradient(top, #f9fafa 0%, #f9fafa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9fafa), color-stop(100%, #f9fafa));
    background: -webkit-linear-gradient(top, #f9fafa 0%, #f9fafa 100%);
    background: -o-linear-gradient(top, #f9fafa 0%, #f9fafa 100%);
    background: -ms-linear-gradient(top, #f9fafa 0%, #f9fafa 100%);
    background: linear-gradient(to bottom, #f9fafa 0%, #f9fafa 100%);
}

.price_input {
    border: 1px solid #333;
    border-radius: 1px;
    box-shadow: none;
    font-size: 16px;
    padding: 3px 1px;
    text-align: center;
    width: 29px;
    margin: 0 10px 0 0;
}

.product {
    margin-bottom: 10px;
}

.product .product_hold {
    position: relative;
}

.product .product_block {
    float: right;
    width: 68%;
}

.product .img_hold {
    margin-bottom: 10px;
    overflow: hidden;
    overflow-x: auto;
}

.product .img {
    display: block;
    text-align: center;
    overflow: hidden;
}

.product .img img {
    max-width: 100%;
    height: auto;
}

.product .img_big {
    width: 30%;
    max-width: 400px;
    max-height: 400px;
    float: left;
}

.product .img_small {
    vfloat: left;
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
}

.product .img_small:hover {
    border-color: grey;
}

.product .btn_hold {
    margin-bottom: 13px;
    white-space: nowrap;
}

.product .popup_link {
    margin-bottom: 28px;
}

.product .info_text {
    border-left: 6px solid #F66634;
    font-size: 14px;
    color: #000;
    padding-top: 3px;
    padding-bottom: 5px;
}

.product .phone_num {
    font-size: 21px;
    line-height: 35px;
}

.prod_list {
    margin: 0 0 20px;
    padding: 0;
    font-size: 14px;
}

.prod_list dt {
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.prod_list dd,
.prod_list ul li {
    margin: 0;
    padding: 0;
}

.prod_list ul {
    padding: 0 0 0 15px;
}

/* Modal PopUp */

label.popup_link {
    display: inline-block;
}

.modal_check {
    position: absolute;
    left: -10000px;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1000;
}

.modal .modal_hold {
    position: fixed;
    left: 50%;
    top: -100%;
    width: 500px;
    padding: 20px 25px;
    border-radius: 5px;
    border: 1px solid #333;
    -webkit-box-shadow: 0 0 3px 0 #333;
    box-shadow: 0 0 3px 0 #333;
    background: #fff;
    z-index: 1001;
    text-align: center;
    font-size: 20px;
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
}

.modal .modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal_check:checked + .modal,
.modal_check:checked + .modal .modal_overlay {
    display: block;
    z-index: 1000;
}

.modal_check:checked + .modal .modal_hold {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}

.modal input {
    width: 100%;
    margin-bottom: 10px;
}

.modal .modal_close {
    display: block;
    width: 31px;
    height: 31px;
    position: absolute;
    right: -29px;
    top: -29px;
    cursor: pointer;
    background: url(../img/main_icon.png) no-repeat 0 -69px;
}

.modal .modal_head {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}

.modal .modal_head .h1 {
    font-weight: bold;
    margin-bottom: 10px;
}

.modal .label {
    font-size: 12px;
    color: #666;
    text-align: left;
    display: block;
    font-weight: bold;
}

.modal .btn {
    margin: 20px 0 0;
}

/* End Modal PopUp */

.form {
    margin-bottom: 20px;
}

.form .h2 {
    margin-bottom: 10px;
}

.form .bord {
    border-bottom: 1px solid #DCDFE2;
    padding-bottom: 5px;
    line-height: 1.7;
    margin-bottom: 15px;
}

.form .form_dl {
    margin: 0;
    padding: 0;
}

.form .form_dl dt,
.form .form_dl dd {
    margin: 0;
    padding: 0;
    float: left;
}

.form .form_dl dt {
    width: 20%;
    font-size: 14px;
    padding-left: 10px;
}

.form .form_dl dd {
    width: 80%;
}

.form .form_dl dd input,
.form .form_dl dd select {
    width: 100%;
    max-width: 400px;
    margin-bottom: 22px;
}

.form .label {
    display: block;
    margin-bottom: 10px;
    color: #A3A3A3;
    font-size: 12px;
    line-height: 15px;
    padding-left: 10px;
}

.form .btn_hold {
    text-align: right;
    border-top: 1px solid #DCDFE2;
    margin-top: 50px;
    padding-top: 12px;
}

.form textarea {
    width: 98%;
    display: block;
    margin: 0 auto 22px;
    height: 120px;
}

.check_table th,
.check_table td {
    font-weight: normal;
    text-align: center;
    padding-left: 17px;
    padding-right: 17px;
}

.check_table th:first-child,
.check_table td:first-child {
    text-align: left;
}

.check_table td:first-child {
    font-weight: bold;
}

.check_table td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.order_sum {
    display: table;
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
}

.order_sum dl {
    display: table-row;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.order_sum dt,
.order_sum dd {
    display: table-cell;
    text-align: right;
    padding: 0 5px;
    margin: 0;
}

.order_sum dl:last-child {
    font-weight: bold;
}

.cart {
    margin-bottom: 50px;
}

.cart_table th {
    color: #fff;
    font-weight: bold;
    background: #585858;
}

.cart_table th,
.cart_table td {
    border: 1px solid #DCDFE2;
}

.cart_table input {
    width: 42px;
    text-align: center;
}

.cart_table .centr {
    text-align: center;
}

.cart_table .adaptive_txt2 {
    display: none;
}

.address {
    margin-bottom: 50px;
}

.content_address {
    font-style: normal;
    margin-bottom: 20px;
}

.content_address dl {
    margin: 0;
    padding: 0;
    display: table-row;
}

.content_address dt,
.content_address dd {
    display: table-cell;
    margin: 0;
    padding: 0 0 20px;
}

.content_address dt {
    font-weight: bold;
    padding-right: 20px;
}

.reviews .h2 {
    margin-bottom: 25px;
}

.reviews_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.reviews_list li {
    padding: 5px 5px 10px;
    margin: 0 0 15px;
    border: 1px solid #DA6925;
    background: #FDECE4;
    max-width: 800px;
}

.reviews_list li:nth-child(even) {
    background: #E9E9E9;
}

.reviews_list .reviews_name {
    float: left;
    padding: 0 10px 0 0;
    min-width: 84px;
    max-width: 40%;
    overflow: hidden;
}

.reviews_list .reviews_head {
    border-bottom: 1px solid #DA6925;
    margin-bottom: 10px;
}

.reviews_list .reviews_head time {
    font-size: 10px;
}

.reviews_list .reviews_head strong {
    display: block;
    font-size: 18px;
    line-height: 20px;
}

.textarea_big {
    width: 100% !important;
    max-width: 400px;
    display: inline-block !important;
    margin-left: 0;
    margin-right: 0;
}

.captch {
    margin-bottom: 20px !important;
}

.filter_block {
    border: 2px solid #F66634;
    border-radius: 3px;
    padding: 10px 20px 15px;
    margin: 0 0 20px;
}

.filter_form .form_title {
    padding-left: 5px;
    margin-bottom: 10px;
}

.filter_form .form_title .txt {
    display: inline-block;
    border-bottom: 1px dashed #333;
}

.filter_form .label {
    font-size: 14px;
    margin: 0 30px 15px 0;
    display: inline-block;
    vertical-align: top;
}

.filter_form .btn_hold .btn {
    margin-right: 10px;
}

.category_item_hold {
    margin: 0;
    padding: 0;
    list-style: none;
}

.category_item_hold li {
    margin: 0;
    padding: 15px 0;
}

.category_item_hold li:nth-child(even) {
    background: #F7F7F9;
}

.category_item_head,
.arrow {
    color: #E30530;
    text-decoration: none;
    font-weight: bold;
}

.arrow {
    display: inline-block;
    margin: 0 1px;
}

.category_header1,
.category_header2,
.category_header3,
.category_header4 {
    border-bottom: 1px solid #E30530;
    text-align: center;
    line-height: 35px;
    white-space: nowrap;
}

.category_header1,
.category_item1 {
    float: left;
    width: 7%;
    margin-right: 1%;
}

.category_header2 {
    float: left;
    width: 68%;
}

.category_header3,
.category_item2 {
    float: right;
    width: 7%;
}

.category_header4,
.category_price {
    float: right;
    width: 15%;
    margin-left: 1%;
}

.category_item1,
.category_item2,
.category_price {
    text-align: center;
}

.category_item_hold .img {
    float: left;
    width: 10%;
    margin-right: 2%;
}

.category_item_hold .img img {
    max-width: 100%;
    height: auto;
}

.category_item_hold .category_block {
    float: left;
    width: 56%;
}

.category_item_hold .category_link {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

.category_item_hold .category_txt {
    color: #808080;
    font-size: 15px;
    line-height: 20px;
}
.mobile_h {
    display: none;
    line-height: 0;
    font-size: 0;
}
.how_buy {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    line-height: 25px;
    letter-spacing: -0.1px;
    word-spacing: -0.8px;
    margin-bottom: 30px;
}
.how_buy h1 {
    margin-bottom: 25px;
}

.how_buy .phone_num {
    font-weight: bold;
    letter-spacing: -1.0px;
}

.how_buy .how_buy_block {
    float: left;
    width: 48%;
    margin-bottom: 54px;
    padding: 0 4.6% 0 0;
}

.how_buy .how_buy_block .img {
    display: block;
    text-align: center;
    margin-bottom: 39px;
}

.how_buy .how_buy_block .img img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.how_buy .how_buy_block .h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #f56534;
}

.how_buy .how_buy_block p {
    margin-bottom: 0;
}

.how_buy .how_buy_bottom {
    background: #f5f5f5;
    padding: 19px 32px 31px;
    margin: 0 6% 20px 0;
}

.how_buy .how_buy_bottom .img {
    display: block;
    float: right;
    text-align: center;
    width: 42.5%;
    margin: 8px 0 0 4%;
}

.how_buy .how_buy_bottom .img img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.how_buy .how_buy_bottom .h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #f56534;
}

.how_buy .how_buy_bottom p {
    margin-bottom: 30px;
}

.btn_order {
    background: none;
    position: relative;
    padding: 9px 40px 0 16px;
    margin: 0;
    border: 1px solid #9db5c2;
    border-right: none;
    border-radius: 0;
    font-size: 20px;
    font-weight: normal;
    color: #0070aa;
    text-decoration: underline;
    height: 50px;
    text-transform: none;
    overflow: visible;
}

.btn_order span {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-decoration: underline;
}

.btn_order:after {
    content: '';
    display: block;
    width: 15px;
    height: 50px;
    background: url(../img/btn_order_bg.png) no-repeat 0 0;
    position: absolute;
    right: -15px;
    top: -1px;
}

.btn_order:before {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid #9db5c2;
    border-radius: 50%;
    top: 50%;
    right: 4px;
    margin-top: -6px;
}

.btn_order:hover,
.btn_order:hover span {
    text-decoration: none;
    box-shadow: none;
}

@media screen and (max-width: 1320px) {

    .info_link .goods_block {
        width: 23%;
    }

    .category_header1,
    .category_header2,
    .category_header3,
    .category_header4 {
        font-size: 13px;
    }
    .how_buy .how_buy_bottom {
        margin-right: 0;
    }

    .how_buy,
    .how_buy .phone_num,
    .how_buy .phone_num {
        letter-spacing: normal;
        word-spacing: normal;
    }

    .how_buy .how_buy_block {
        width: 50%;
        padding: 0 2%;
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 1195px) {

    .address_hold {
        float: none;
    }
    .top_address .address_block {
        display: block;
        text-align: left;
    }

    .header .mail {
        margin-bottom: 5px;
    }

    .header .phone_num {
        margin-bottom: 7px;
    }
}



@media screen and (max-width: 1124px) {

    .mobile_cart {
        display: block;
    }

    .cart_block {
        position: fixed;
        top: 3px;
        right: 0;
        border-radius: 3px 0 0 3px;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        -o-transform: translate(100%, 0);
        transform: translate(100%, 0);
        -webkit-transition: -webkit-transform 0.4s ease-out;
        -moz-transition: -moz-transform 0.4s ease-out;
        -o-transition: -o-transform 0.4s ease-out;
        transition: transform 0.4s ease-out;
        z-index: 50;
        margin: 0;
        padding-left: 0;
    }
    .cart_block:after {
        display: none;
    }

    .shopping_cart dl {
        display: block;
    }

    input[type="checkbox"]:checked + .cart_block {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .shopping_cart,
    .cart_block h6 {
        padding-left: 17px;
        padding-right: 17px;
    }

    .shopping_cart:after {
        display: none;
    }

    .head_img {
        margin-right: 65px;
    }

    .head_img {
        padding: 0;
    }

}

@media screen and (max-width: 1024px) {

    .mainContent,
    .aside {
        width: 100%;
        float: none;
        padding-right: 0;
        padding-left: 0;
    }

    .content {
        padding-right: 10px;
        padding-left: 10px;
    }

    .article_img.fl,
    .article_img.fr {
        max-width: 100%;
        width: 100%;
        float: none;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    .article_img img {
        width: auto;
        height: auto;
        max-width: 100%;
    }

    .line_hold {
        margin-bottom: 10px;
        padding: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 12px;
    }

    .top_menu {
        height: 60px;
        margin: 0 0 0 100px;
        padding: 0 152px 0 50px;
    }

    .top_menu a {
        display: none;
    }

    .logo {
        margin-left: 65px;
    }
    .cart_block {
        padding-top: 0;
        padding-bottom: 1px;
        top: 0;
    }

    .mobile_menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background: #fff;
        width: 50%;
        overflow-y: auto;
        z-index: 1200;
        -webkit-transform: translate(-110%, 0);
        -ms-transform: translate(-110%, 0);
        -o-transform: translate(-110%, 0);
        transform: translate(-110%, 0);
        -webkit-transition: -webkit-transform 0.4s ease-out;
        -moz-transition: -moz-transform 0.4s ease-out;
        -o-transition: -o-transform 0.4s ease-out;
        transition: transform 0.4s ease-out;
        -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 3);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 3);
    }

    #mobile_menu_check:checked + .mobile_menu {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .close_menu {
        width: 35px;
        height: 35px;
        background: #F66634;
        color: #fff;
        position: fixed;
        right: 50%;
        top: 0;
        z-index: 1500;
        cursor: pointer;
        border-radius: 0 0 0 3px;
        -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
        -o-transform: translate(0, -100%);
        transform: translate(0, -100%);
        -webkit-transition: -webkit-transform 0.4s ease-out;
        -moz-transition: -moz-transform 0.4s ease-out;
        -o-transition: -o-transform 0.4s ease-out;
        transition: transform 0.4s ease-out;
    }

    .close_menu:before,
    .close_menu:after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background: #fff;
        position: absolute;
        left: 0;
        top: 15px;
    }

    .close_menu:before {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .close_menu:after {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #mobile_menu_check:checked + .mobile_menu + .close_menu {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .menu_label_ico {
        display: block;
    }

    .nav_side {
        padding: 10px 15px 1px;
    }

    .nav_side .mobile_menu_link {
        display: block;
    }

    .nav_side .menu_section {
        margin-bottom: 5px;
        display: inline-block;
    }

    .nav_side ul li,
    .nav_side ul li ul li {
        margin-bottom: 15px;
    }

    .nav_side ul li ul {
        padding-top: 6px;
    }

    .nav_side label,
    .info_link_section {
        cursor: pointer !important;
    }

    .mobile_menu input[type="checkbox"] + .mobile_hide {
        display: none;
    }

    .mobile_menu input[type="checkbox"]:checked + .mobile_hide {
        display: block;
    }

    .review_side input[type="checkbox"]:checked + .mobile_hide {
        padding-bottom: 18px;
    }

    .padding_top {
        padding-top: 0;
    }

    .left_text_block {
        padding-left: 160px;
        min-height: 140px;
    }

    .left_text_block .img_block {
        width: 160px;
    }

    .left_text_block .img_block .img_hold {
        top: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .left_text_block .img_block .img_hold img {
        max-width: 100%;
        height: auto;
    }

    .menu_content {
        margin-bottom: 20px;
    }

    .form .form_dl dt {
        width: 40%;
        margin-left: 5%;
    }

    .form .form_dl dd {
        width: 50%;
        margin-right: 5%;
    }

    .category_header3,
    .category_item2,
    .category_header1,
    .category_item1 {
        display: none;
    }

    .category_header4,
    .category_price {
        width: 20%;
    }

    .category_header2 {
        width: 79%;
    }

    .category_item_hold .img {
        width: 21%;
    }
    .top_menu {
        display: none;
    }
}
@media screen and (max-width: 900px) {

    .logo,
    .time_work {
        display: inline-block;
        float: none;
        margin: 0 0 10px;
    }

    .address_hold {
        display: block;
        text-align: center;
    }

    .top_address {
        float: none;
        display: inline-block;
        vertical-align: top;
    }
}


@media screen and (max-width: 790px) {

    .goods_block {
        width: 47%;
        margin-bottom: 20px;
    }

    .info_link .goods_block .txt {
        height: 66px;
    }

    .info_link .goods_hold {
        height: 310px;
    }

    .product .img_small {
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width: 750px) {

    .top_menu {
        padding-right: 91px;
    }

    .delivery_city .delivery_city_block {
        width: 50%;
    }

    .phone_hide {
        display: none;
    }
    .top_address .address_block {
        display: block;
    }

    .header .mail,
    .header .phone_num {
        margin: 0 0 10px;
    }

}

@media screen and (max-width: 650px) {

    .mobile_menu {
        width: 100%
    }

    .close_menu {
        right: 0;
    }

    .top_menu {
        display: none;
    }

    .line_hold {
        border: none;
        text-align: center;

    }

    .logo,
    .time_work {
        float: none;
        display: inline-block;
        margin: 0 0 10px;
    }


    .topline {
        text-align: center;
    }
    .address_hold {
        padding: 0;
    }

    .head_img {
        display: none;
    }

    .header .phone_num,
    .call_back,
    .header .mail {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 10px;
    }

    .top_address .address_block {
        margin: 0 5px;
        display: inline-block;
    }

    .mobile_cart {
        bottom: auto;
        top: 0;
    }

    .cart_block {
        border-radius: 0 0 3px 3px;
        top: 4px;
    }

    .menu_label_ico {
        top: 4px;
    }

    .top_address {
        text-align: center;
        padding: 0;
        float: none;
        display: block;

    }

    .footer {
        padding-top: 5px;
    }

    .nav_bottom a,
    .nav_bottom span {
        display: block;
        margin-bottom: 5px;
    }

    .nav_bottom a:after {
        display: none;
    }

    .left_text_block {
        padding-left: 0;
    }

    .left_text_block .img_block {
        width: auto;
        max-width: 102px;
        position: relative;
        float: left;
        margin: 10px 10px 10px 0;
    }

    .left_text_block .img_block .img_hold {
        width: auto;
        max-width: 100%;
        position: relative;
    }

    .info_link .goods_block {
        width: 31%;
    }

    .modal .modal_close {
        right: 2px;
        top: 2px;
    }

    .modal_check:checked + .modal .modal_hold {
        top: 1%;
    }

    .cart_table th,
    .cart_table td {
        font-size: 11px;
        line-height: 13px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .cart_table th {
        font-size: 9px;
        font-weight: normal;
    }

    .cart_table input {
        width: 25px;
        padding-left: 1px;
        padding-right: 1px;
    }

    .cart_table .btn {
        padding-left: 5px;
        padding-right: 5px;
    }

    .cart_table .adaptive_txt {
        display: none;
    }

    .cart_table .adaptive_txt2 {
        display: inline-block;
    }

    .filter_form .label {
        display: block;
    }

    .category_header4,
    .category_price {
        width: 39%;
    }

    .category_price {
        margin: 20px 0 40px;
    }

    .category_header2 {
        width: 60%;
    }

    .category_item_hold .img {
        width: 50%;
    }

    .category_item_hold .category_block {
        float: none;
        width: 100%;
        display: block;
    }

    .arrow {
        margin: 0 3px;
        font-size: 20px;
    }

    .how_buy .how_buy_block {
        float: none;
        width: 100%;
    }

    .how_buy .how_buy_bottom .img {
        float: none;
        margin: 0 0 20px;
        width: 100%;
    }

    .how_buy .how_buy_block .img {
        margin-bottom: 20px;
    }


}

@media screen and (max-width: 500px) {

    .info_link .goods_block {
        width: 48%;
    }

    .info_link .goods_block .txt {
        height: 46px;
    }

    .info_link .goods_hold {
        height: auto;
        max-height: 593px;
    }

    .delivery_city .delivery_city_block {
        float: none;
        width: 100%;
        padding-right: 0;
    }

    .product .img_big {
        float: none;
        vmax-height: 320px;
        vheight: 320px;
        max-width: 100%;
        width: 100%;
        margin: 90px 0 10px;
    }

    .product .img_small {
        height: 72px;
        width: 72px;
    }

    .product .img_hold {
        margin-bottom: 0;
        position: absolute;
        top: -73px;
        left: 0;
        right: 0;
    }

    .product .product_block {
        width: 100%;
        float: none;
        text-align: center;
    }

    .modal .modal_hold {
        width: 95%;
    }

    .form .form_dl dt {
        width: 100%;
        text-align: center;
    }

    .form .form_dl dd {
        width: 100%;
    }

    .form .form_dl dd input,
    .form .form_dl dd select {
        max-width: 100%;
    }

    .check_table {
        margin-bottom: 10px;
    }

    .check_table th,
    .check_table td {
        font-size: 10px;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 13px;
    }

    .order_sum {
        margin-right: 0;
    }

    .form .label {
        padding-left: 0;
        margin-bottom: 21px;
    }
    .top_address .address_block,
    .call_back {
        display: block;
        text-align: center;
    }
    .how_buy {
        text-align: justify;
    }

    .how_buy .h2 {
        text-align: center;
    }

    .how_buy .how_buy_bottom {
        padding: 19px 15px 31px;
    }

}

@media screen and (max-width: 450px) {

    .goods_hold:after {
        display: none;
    }

    .goods_block {
        width: 100%;
        display: block;
        margin: 0 0 15px;
        height: auto;
        padding: 10px;
    }

    .goods_block .top_txt {
        height: auto;
    }

    .info_link .goods_block {
        width: 100%;
    }

    .info_link .goods_block .txt {
        height: auto;
    }

    .info_link .goods_hold {
        height: auto;
        max-height: 10000px;
    }
    .cart_block .cart_top {
        text-align: left;
        padding-left: 17px;
        margin-bottom: 8px;
    }

    .cart_block h6,
    .cart_block .cart_order {
        float: none;
        display: block;
        padding: 0;
    }

}

@media screen and (max-width: 400px) {

    .logo {
        width: 180px;
    }

    .topline {
        height: 49px;
    }

    .menu_label_ico {
        top: 0;
    }

    .cart_block {
        top: 0;
    }

    .line_hold {
        padding-top: 0;
    }
}

#log {
    background-color:#000;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    visibility:hidden;
    height:100%;
    filter:alpha(opacity=60);
    opacity:.6;
    moz-opacity:.6;
    margin:0;
    padding:0;
    z-index:100;
}

#notice {
    position:absolute;
    visibility:hidden;
    top:0;
    left:0;
    vertical-align:middle;
    text-align:center;
    line-height:60px;
    font:12px Tahoma;
    height:60px;
    background:url(/images/loading.gif) no-repeat center center;
    padding:5px;
}
.sku_list {
    list-style-type: none;
}
[hidden] {
    display: none;
}

.product .img img,
.category_item_hold .img img {
    width: auto;
}
[hidden] {
    display: none;
}

.product .img img,
.category_item_hold .img img {
    width: auto;
}

a:visited {
    color: #800080;
}

/*add cart 8.02.16 */

.cart_block .cart_top {
    font-size: 20px;
    text-align: center;
    margin-bottom: 3px;
    text-shadow: 1px 1px 0 #fff;
}

.cart_block .cart_top,
.cart_block .cart_top a {
    text-decoration: none;
    color: #F56534;
}

.cart_block .shopping_cart {
    text-align: center;
    font-size: 15px;
}

@media screen and (max-width: 1124px) {

    .cart_block {
        top: 8px;
    }

    .mobile_cart {
        top: 25px;
    }
}

@media screen and (max-width: 1024px) {

    .cart_block {
        top: 26px;
    }

    .mobile_cart {
        top: 4px;
    }
}

@media screen and (max-width: 650px) {

    .cart_block {
        top: 4px;
    }

    .mobile_cart {
        top: 0;
    }
}

@media screen and (max-width: 400px) {

    .cart_block {
        top: 0;
    }
}

/*add cart 24.02.16 */
.cart_block:after {
    display: none;
}

.desk_shop_num {
    background: url("../img/ico.png") no-repeat 0 0;
    background-size: 40px auto;
    display: block;
    height: 39px;
    left: 9px;
    position: absolute;
    top: 20px;
    width: 40px;
    text-decoration: none;
}

.desk_shop_num span {
    color: #000000;
    position: absolute;
    left: 39px;
    top: -6px;
}

@media screen and (max-width: 1124px) {

    .desk_shop_num {
        display: none;
    }
}
.time_work,
.time_work .time_work_block,
.time_work .time_work_bottom,
.top_address .address_block,
.header .mail,
.header .phone_num {
    max-height: 9001em;
}
