
table.nopcart {
	width:100%;
	border-collapse:collapse;
}

.nopheader {
	text-align:left;
	border:1px solid #DDD;
	background-color:#585858;
	color:#fff;
	padding:3px;
}

.nopitog {
	color:red;
}

.nopentry,.noptotal {
	text-align:left;
	border:1px solid #DDD;
	padding:3px;
}

#log {
	background-color:#000;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	visibility:hidden;
	height:100%;
	filter:alpha(opacity=60);
	opacity:.6;
	moz-opacity:.6;

	margin:0;
	padding:0;
}

#notice {
	position:absolute;
	visibility:hidden;
	top:0;
	left:0;
	background-color:#fff;

	vertical-align:middle;
	text-align:center;
	line-height:60px;
	font:12px Tahoma;
	height:60px;
	background:url(/assets/snippets/shop/images/loading.gif) no-repeat center center;
	padding:5px;
}

.nopbutton,.nopinput {
	font-size:11px;
}

.shop_button,.nopbutton {
	border:1px solid #ccc;
	text-decoration:none;
	background:#f0f0f0;
	color:#000;
	font-size:11px;
	padding:3px 5px;
}

.LV_validation_message {
	font-weight:500;
	margin:0 0 0 5px;
	font-size:95%;
}

.LV_valid {
	color:#0C0;
}

.LV_invalid {
	color:#983520;
}

.LV_valid_field,input.LV_valid_field:hover,input.LV_valid_field:active,textarea.LV_valid_field:hover,textarea.LV_valid_field:active {
	border:1px solid #0C0;
}

.LV_invalid_field,input.LV_invalid_field:hover,input.LV_invalid_field:active,textarea.LV_invalid_field:hover,textarea.LV_invalid_field:active {
	border:1px solid #C00;
}

