@charset "UTF-8";
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600&subset=latin,cyrillic);*/
/****************reset*********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body {
    height: 100%;
}

body {
    line-height: 1;
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 81.25%;
    color: #4e4e4e;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    color: #00499b;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

.small-text {
    font-size: 0.9em !important;
}

blockquote {
    margin-left: 30px;
}

em {
    font-weight: bold;
    font-style: italic;
}

strong {
    font-weight: bold;
}

i {
    font-style: italic;
}

h1 {
    margin: 10px 0 35px 0;
    font: italic normal normal 1.8em/1.2 'Open Sans', sans-serif;
    color: #903314;
}
h1:first-child {
    margin-top: 0;
}
h1.m-small-marg {
    margin-bottom: 15px;
}

h2 {
    margin: 25px 0 10px 0;
    font: italic normal normal 1.5em/1.2 'Open Sans', sans-serif;
    color: #903314;
}
h2:first-child {
    margin-top: 0;
}
h3 {
    font: italic normal normal 1.3em/1.2 'Open Sans', sans-serif;
    color: #903314;
}
h3:first-child {
    margin-top: 0;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    display: block;
    width: 100%;
}

/*********************layout********************************/
.wrapper {
    padding: 10px 0 0 0;
    min-height: 100%;
    position: relative;
    min-width: 999px;
}
.layout {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.header {
    overflow: hidden;
    padding: 16px 0 16px 20px;
}
.header__sections {
    border-collapse: collapse;
    border: none;
    table-layout: fixed;
    float: left;
}
.header__sections-item {
    vertical-align: middle;
    border-right: 1px solid #dadada;
    white-space: nowrap;
}
.header__sections-item:last-child {
    border-right: none;
}
.header__sections-inner {
    padding: 5px 17px;
}
.header__sections-item:last-child .header__sections-inner {
    padding-right: 0;
}
.header__sections-item:first-child .header__sections-inner {
    padding-left: 0;
}
.header__phone-line {
    color: #4e4e4e;
    margin-bottom: 10px;
    font-size: 1.1em;
}
.header__phone-line:last-child {
    margin-bottom: 0;
}
.header__action {
    float: right;
    margin-top: -10px;
    min-width: 17em;
    width: 26%;
}
.header__action-img {
    float: left;
}
.header__action-link {
    font-size: 1.2em;
    font-style: italic;
}
.header__action-link,
.header__action-link:link,
.header__action-link:hover,
.header__action-link:visited,
.header__action-link:active {
    color: #00499b;
}
.header__action-data {
    margin-left: 110px;
    line-height: 1.3;
}

.logo {

}
.logo__text {
    display: block;
    font-size: 0.9em;
    color: #4e4e4e;
}
.small-menu {

}
.small-menu__item {
    display: inline;
    margin-right: 10px;
}
.small-menu__item:last-child {
    margin-right: 0;
}
.small-menu__link,
.small-menu__link:link,
.small-menu__link:hover,
.small-menu__link:visited,
.small-menu__link:active {
    color: #4e4e4e;
    font-size: 0.9em;
}
.im-list {

}
.im-list__item {
    margin-top: 4px;
    white-space: nowrap;
}
.im-list__type {
    margin-right: 5px;
}
.im-list__icon {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 16px;
    top: 3px;
    background: url(/images/im__icons.png) no-repeat;
}
.m-icon_icq {

}
.m-icon_skype {
    background-position: 0 -22px;
}
.main-menu {
    height: 40px;
    padding: 0 20px;
    background: url(/images/menu__bg.png) repeat-x;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.main-menu__list {

}
.main-menu__item {
    float: left;
    position: relative;
    padding: 10px 0 5px 23px;
}
.main-menu__item:first-child {
    padding-left: 0;
}
.m-main-menu-item_basket {
    float: right;
}
.main-menu__link {
    display: inline-block;
    font: italic normal normal 1.3em/1 'Open Sans', sans-serif;
    text-decoration: none;
    text-shadow: 0 -1px 0 #954117;
    letter-spacing: 1px;
    vertical-align: top;
}
.main-menu__link,
.main-menu__link:link,
.main-menu__link:visited,
.main-menu__link:active,
.main-menu__link:hover {
    color: #fff;
}
.main-menu__arrow {
    display: inline-block;
    margin: -10px 5px 0 5px;
    width: 28px;
    height: 39px;
    line-height: 0;
    overflow: hidden;
    background: url(/images/menu__arrow.png) no-repeat 0 0;
    cursor: pointer;
}
.m-main-menu-arrow_active,
.open .main-menu__arrow{
    background: url(/images/menu__arrow-h.png) no-repeat 0 0;
}
.dropdown-box {
    display: none;
    position: absolute;
    background: #fff;
    padding: 1px;
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    -webkit-box-shadow: 0px 2px 18px #efefef, 0px 2px 8px #a7a7a7, 0px 2px 4px #a7a7a7;
    box-shadow: 0px 2px 18px #efefef, 0px 2px 8px #a7a7a7, 0px 2px 4px #a7a7a7;
    z-index: 10;
}
.dropdown-box.open,
.open .dropdown-box {
    display: block;
}
.dropdown-box__inner {
    padding: 15px 20px;
    overflow: hidden;
}
.m-dropdown-box_catalog {
    left: -20px;
    width: 400px;
}
.m-dropdown-box_basket {
    width: 300px;
    right: -20px;
}
.dropdown-box__bottom {
    height: 26px;
    line-height: 26px;
    background: url(/images/dropdown__bg.png) repeat-x;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
}
.dropdown-box__link {
    font: italic normal normal 1em/1 'Open Sans', sans-serif;
    text-shadow: 0 -1px 0 #954117;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}
.dropdown-box__link,
.dropdown-box__link:link,
.dropdown-box__link:visited,
.dropdown-box__link:hover,
.dropdown-box__link:active {
    color: #fff;
}
.catalog-menu {
    padding: 3px 20px 3px 0;
    border-right: 1px solid #dedede;
    float: left;
    margin-right: 30px;
    width: 150px;
}
.m-catalog-menu_last {
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
}
.catalog-menu__item {
    margin-bottom: 15px;
}
.catalog-menu__item:last-child {
    margin-bottom: 0;
}
.catalog-menu__link {
    font-size: 1.1em;
    text-decoration: none;
    border-bottom: 1px solid #4e4e4e;
}
.catalog-menu__link,
.catalog-menu__link:link,
.catalog-menu__link:visited,
.catalog-menu__link:hover,
.catalog-menu__link:active {
    color: #4e4e4e;
}
.banners {
    height: 192px;
    background: url(/banner.jpg) no-repeat;
}
.content {
    padding: 20px;
    min-height: 500px;
}
.content-section-switcher {
    position: relative;
    height: 0;
    line-height: 0;
    border-top: 1px solid #bbbbbb;
    text-align: center;
    margin: 40px 0;
}
.content-section-switcher__button {
    position: relative;
    top: -13px;
    height: 26px;
    line-height: 21px;
    width: 18em;
    margin: 0 auto;
    background: url(/images/dropdown__bg.png) repeat-x;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.content-section-switcher__link {
    font: italic normal normal 1em/1 'Open Sans', sans-serif;
    text-shadow: 0 -1px 0 #954117;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}
.content-section-switcher__link,
.content-section-switcher__link:link,
.content-section-switcher__link:visited,
.content-section-switcher__link:active,
.content-section-switcher__link:hover {
    color: #fff;
}
.m-content_wide {
    padding: 20px 0;
}
.content-text {
    line-height: 1.4;
    padding-top: 60px;
}
.content-text-page {
    line-height: 1.4;
    font-size: 1.1em;
    width: 800px;

}
.content-text-page p {
    margin: 15px 0;
}
.content-text-page ul {
    list-style-type: disc;
    margin: 15px 0 15px 25px;
}
.content-text-page ul li,
.content-text-page ol li {
    margin: 3px 0;
}
.content-text-page ol {
    list-style-type: decimal;
    margin: 15px 0 15px 25px;
}
.content-text p {
    margin: 15px 0;
}
.m-content-text_two-columns {

}
.footer {
    position: relative;
    padding: 50px 0;
    margin: 30px 0 0 0;
    background: #f5ebe2;
}
.footer__bg {
    position: absolute;
    width: 100%;
    height: 16px;
    left: 0;
    top: 0;
    background: url(/images/footer__bg.png) repeat-x;
    -webkit-box-shadow: 0 2px 20px #e7d6ca, 0 2px 10px #d4b8a9, 0 3px 3px #bb927f;
    box-shadow: 0 2px 20px #e7d6ca, 0 2px 10px #d4b8a9, 0 3px 3px #bb927f;
}
.footer__inner {
    padding: 0 20px;
    overflow: hidden;
}
.footer__sections {
    width: 70%;
    float: left;
    table-layout: fixed;
}
.footer__sections-item {
    vertical-align: top;
    padding: 3px 0 3px 25px;
    border-right: 1px solid #d5cdc5;
}
.footer__sections-item:last-child {
    border: none;
}
.footer__sections-item:first-child {
    padding-left: 0;
}
.footer__logo {
    margin-bottom: 15px;
}
.footer__basket {
    float: right;
    width: 26%;
}
.footer__basket-title {
    margin-bottom: 15px;
}
.m-layout_footer {
    overflow: hidden;
}
.footer__copy-line {
    margin: 6px 0;
}
.m-im-list_footer {
    margin-top: 15px;
}
.links-list {

}
.links-list__item {
    margin-bottom: 10px;
}
.links-list__link,
.links-list__link:link,
.links-list__link:visited,
.links-list__link:active,
.links-list__link:hover {
    color: #4e4e4e;
}
.m-links-list_two-columns {
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    column-count: 2;
    column-gap: 30px;
}

/*********************************catalog styles***********************************/
.catalog {
    width: 100%;
}
.m-catalog_cart-adds {
    margin-top: 22px;
}
.m-catalog_cart {
    margin-top: 40px;
}
.catalog__element {
    display: inline;
    position: relative;
}
.catalog__element-inner {
    padding: 3px;
}
.catalog__element-header {
    display: inline-block;
    position: relative;
    width: 16.4em;
    margin: 0 0.9em 110px 0;
    min-height: 150px;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background: #f0f0f0;
    vertical-align: top;
    z-index: 2;
}
.m-catalog_cart-adds .catalog__element-header {
    background: #e1f1d6;
    width: 18em;
    margin-right: 0;
}
.catalog__element-footer {
    display: inline-block;
    position: relative;
    width: 16.4em;
    margin: 0 -16.4em 50px 0;
    left: -17.3em;
    padding-top: 150px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    background: #f0f0f0;
    vertical-align: bottom;
    z-index: 1;
}
.m-catalog_cart-adds .catalog__element-footer {
    background: #e1f1d6;
    width: 18em;
    margin-right: -18em;
    left: -18em;
}
.catalog__element-img-box {
    display: block;
    margin-bottom: 10px;
    height: 206px;
    width: 99%;
    line-height: 170px;
    overflow: hidden;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #bababa;
    background: #fff;
    text-align: center;
}
.catalog__element-img-box img {
    vertical-align: middle;
}
.catalog__element-name {
    display: block;
    margin-bottom: 5px;
}
.catalog__element-link {
    font-size: 1.1em;
}
.catalog___element-desc {
    overflow: hidden;
    text-overflow: ellipsis;
}
.catalog__element-price {
    display: inline-block;
    height: 23px;
    padding: 0 13px;
    border-top: 1px solid #fff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    white-space: nowrap;
    background: #d9e2e7;
    font: italic normal normal 1.1em/19px 'Open Sans', sans-serif;
}
.m-catalog-element-price_normal {
    color: #304a66;
    background-color: #f3f9fe;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f9fe), to(#e1e7eb));
    background-image: -webkit-linear-gradient(top, #f3f9fe, #e1e7eb);
    background-image:    -moz-linear-gradient(top, #f3f9fe, #e1e7eb);
    background-image:     -ms-linear-gradient(top, #f3f9fe, #e1e7eb);
    background-image:      -o-linear-gradient(top, #f3f9fe, #e1e7eb);
    background-image:         linear-gradient(to bottom, #f3f9fe, #e1e7eb);
}
.m-catalog-element-price_sale {
    color: #cf2627;
    background-color: #ffd4c4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe5d9), to(#ffc9b9));
    background-image: -webkit-linear-gradient(top, #ffe5d9, #ffc9b9);
    background-image:    -moz-linear-gradient(top, #ffe5d9, #ffc9b9);
    background-image:     -ms-linear-gradient(top, #ffe5d9, #ffc9b9);
    background-image:      -o-linear-gradient(top, #ffe5d9, #ffc9b9);
    background-image:         linear-gradient(to bottom, #ffe5d9, #ffc9b9);
}
.m-catalog-element-price_new {
    color: #376b34;
    background-color: #d1ecaa;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e3ffce), to(#d1ecaa));
    background-image: -webkit-linear-gradient(top, #e3ffce, #d1ecaa);
    background-image:    -moz-linear-gradient(top, #e3ffce, #d1ecaa);
    background-image:     -ms-linear-gradient(top, #e3ffce, #d1ecaa);
    background-image:      -o-linear-gradient(top, #e3ffce, #d1ecaa);
    background-image:         linear-gradient(to bottom, #e3ffce, #d1ecaa);
}
.m-catalog-element-price_old {
    margin-left: 5px;
    font-size: 0.9em;
    position: relative;
    top: 2px;
}
.catalog__element-action-text {
    position: absolute;
    display: inline-block;
    padding: 0 7px;
    top: -16px;
    left: 0;
    border-radius: 2px 2px 0 0;
    height: 17px;
    background: #f0f0f0;
    font: italic normal normal 13px/17px 'Open Sans', sans-serif;
}
.m-catalog-element-action-text_sale {
    color: #d02003;
}
.m-catalog-element-action-text_new {
    color: #4d9507;
}

/**********************************catalog page******************************************/
.submenu {
    padding: 0 20px;
}
.submenu__header {
    display: inline;
}
.submenu__list {
    display: inline-block;
    margin-left: 15px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #f5ebe2;
    vertical-align: top;
}
.submenu__item {
    display: inline-block;
}
.submenu__link {
    display: inline-block;
    padding: 0 12px;
    height: 33px;
    line-height: 33px;
    font-size: 1.1em;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.submenu__link,
.submenu__link:link,
.submenu__link:visited,
.submenu__link:active,
.submenu__link:hover {
    color: #903314;
}
.m-submenu-link_active,
.m-submenu-link_active:link,
.m-submenu-link_active:active,
.m-submenu-link_active:visited,
.m-submenu-link_active:hover {
    color: #fff;
    background: url(/images/submenu__bg.png) repeat-x;
    text-shadow: 0 -1px 0 #954117;
}
.submenu__aside-link {
    display: inline-block;
    margin-left: 20px;
    height: 33px;
    font: italic normal normal 1.1em/33px 'Open Sans', sans-serif;
}
.submenu__aside-link,
.submenu__aside-link:link,
.submenu__aside-link:visited,
.submenu__aside-link:active,
.submenu__aside-link:hover {
    color: #00499b;
}
.catalog-sections {
    padding: 20px 0;
    word-spacing: -4px;
}
.catalog-sections__item {
    display: inline-block;
    position: relative;
    width: 25%;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    vertical-align: top;
    word-spacing: normal;
}
.catalog-sections__inner {
    padding-right: 25px;
}
.catalog-sections__img {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0 3px 10px #d8d8d8, 0 3px 3px #c0c0c0;
    box-shadow: 0 3px 10px #d8d8d8, 0 3px 3px #c0c0c0;
}
.catalog-sections__name {
    padding: 10px 20px 15px 20px;
    background: #f0f0f0;
    color: #4e4e4e;
    -webkit-box-shadow: 0 0 5px #d8d8d8 inset;
    box-shadow: 0 0 10px #d8d8d8 inset;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    min-height: 60px;
}
.catalog-sections__link {
    font: italic normal normal 1.3em/1.1 'Open Sans', sans-serif;
}
.catalog-sections_desc {
    display: block;
    margin-top: 8px;
    font-size: 0.9em;
}
.catalog-table {
    margin-bottom: 60px;
    table-layout: fixed;
}
.m-catalog-table_grey {
    background: #f0f0f0;
}
.m-catalog-table_dark {
    background: #e4e6e7;
}
.catalog-table__img-cell,
.catalog-table__desc-cell,
.catalog-table__name-cell,
.catalog-table__price-cell {
    padding: 3px 15px 3px 3px;
    border-bottom: 3px solid #fff;
}
.catalog-table__img-cell {
    width: 10%;
}
.catalog-table__name-cell {
    width: 20%;
}
.catalog-table__desc-cell {
    width: 60%;
}
.catalog-table__price {
    width: 10%;
    text-align: right;
}
.catalog-table__img-cell {
    padding-right: 5px;
}
.catalog-table__img {
    border: 1px solid #bababa;
}
.catalog-element__text-new,
.catalog-element__text-sale {
    font: italic normal normal 13px/17px 'Open Sans', sans-serif;
}
.catalog-element__text-new {
    color: #4d9507;
}
.catalog-element__text-sale {
    color: #d02003;
}

/***************************catalog section page*********************************/
.page {
    position: relative;
    margin-left: 22em;
    padding: 0 0 20px 0;
}
.page__left-column {
    position: relative;
    float: left;
    width: 20em;
    margin-right: -22em;
    left: -22em;
}
.page__right-column {
    width: 100%;
    float: left;
}
.left-menu {
    margin-bottom: 25px;
    padding: 17px 0;
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #c7c7c7;
    -webkit-box-shadow: 0 0 15px #cecece, 0 0 10px #b6b6b6, 0 0 5px #9c9c9c;
    box-shadow: 0 4px 15px #cecece, 0 3px 10px #b6b6b6, 0 2px 5px #9c9c9c;
}
.left-menu__item {
    font: 1.1em/1.2 'Open Sans', sans-serif;
}
.left-menu__link {
    display: block;
    height: 27px;
    line-height: 24px;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}
.left-menu__link,
.left-menu__link:link,
.left-menu__link:visited,
.left-menu__link:active {
    color: #4e4e4e;
}
.m-left-menu-link_active:link,
.m-left-menu-link_active:visited,
.m-left-menu-link_active:hover,
.m-left-menu-link_active:active {
    color: #fff;
    background: url(/images/left-menu__bg.png) no-repeat;
    text-decoration: none;
    text-shadow: 0 -1px 0 #954117;
}
.m-left-menu-link_active:after {
    position: absolute;
    content: ' ';
    display: block;
    width: 10px;
    height: 27px;
    font-size: 0;
    line-height: 0;
    right: -6px;
    top: 0;
    background: url(/images/left-menu__bg.png) no-repeat right top;
    z-index: 2;
}
.filter {
    padding: 0 0 0 20px;
}
.filter__title {
    font: italic normal normal 1.3em/1.1 'Open Sans', sans-serif;
}
.filter__title:first-child {
    margin-top: 0;
}
.filter__line {
    margin-bottom: 5px;
}
.checkbox {

}
.checkbox__field {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 2px;
}
.color-field {
    display: inline-block;
    vertical-align: top;
    top: -1px;
    margin: 0 3px;
}
.color__name {
    display: inline-block;
    vertical-align: middle;
}
.m-color-field-1 {

}
.m-color-field-2 {
    background-position: left -26px;
}
.m-color-field-3 {
    background-position: left -52px;
}
.m-color-field-4 {
    background-position: left -78px;
}
.m-color-field-5 {
    background-position: left -103px;
}
.sortbox {
    padding-bottom: 15px;
    margin-bottom: 35px;
    border-bottom: 1px solid #bbbbbb;
}
.sortbox__label {
    display: inline-block;
}
.sortbox__item {
    margin-right: 17px;
    display: inline-block;
}
.selectbox {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
}
.selectbox__label {
    display: inline-block;
    color: #4e4e4e;
    padding: 6px 18px;
    border-bottom: 1px solid #c0c0c0;
    white-space: nowrap;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #f9f9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#dadbdd));
    background-image: -webkit-linear-gradient(top, #fbfbfb, #dadbdd);
    background-image:    -moz-linear-gradient(top, #fbfbfb, #dadbdd);
    background-image:     -ms-linear-gradient(top, #fbfbfb, #dadbdd);
    background-image:      -o-linear-gradient(top, #fbfbfb, #dadbdd);
    background-image:         linear-gradient(to bottom, #fbfbfb, #dadbdd);
    cursor: pointer;
}
.selectbox.expanded .selectbox__label {
}
.selectbox__list {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    list-style-type: none;
    background: #fff;
    border: 1px solid #c7c7c7;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 15px #cecece, 0 0 10px #b6b6b6, 0 0 5px #9c9c9c;
    box-shadow: 0 4px 15px #cecece, 0 3px 10px #b6b6b6, 0 2px 5px #9c9c9c;
    z-index: 100;
}
.selectbox.open .selectbox__list {
    display: block;
}
.selectbox__item {
    padding: 5px 17px;
    color: #4e4e4e;
    cursor: default;
    white-space: nowrap;
    cursor: pointer;
}
.selectbox__item:hover,
.m-selectbox-item_active {
    background: #e5ecf5;
}
.view-as-blocks:before {
    content: ' ';
    position: relative;
    top: 2px;
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 5px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    background: url(/images/sortbar__icons.png) no-repeat;
}
.view-as-table:before {
    content: ' ';
    position: relative;
    top: 2px;
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 7px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    background: url(/images/sortbar__icons.png) no-repeat left -24px;
}
.paginator {
    margin-top: -30px;
}
.paginator__header {
    position: relative;
    height: 0;
    line-height: 0;
    border-top: 1px solid #bbbbbb;
    margin: 25px 0;
    z-index: 1;
}
.paginator__pages-label,
.paginator__pages-all {
    display: inline-block;
    position: relative;
    top: -0.8em;
    background: #fafafa;
    padding: 0 3px;
    z-index: 2;
    line-height: 1.2;
    margin-right: 10px;
    font: italic normal normal 1em/1.2 'Open Sans', sans-serif;
}
.paginator__pages-label {
    padding-left: 0;
}
.paginator__prev-next {
    font: italic normal normal 0.9em/1.1 'Open Sans', sans-serif;
}
.paginator__prev {
    margin-right: 15px;
}
.paginator__prev:before {
    content: '← ';
}
.paginator__next {

}
.paginator__next:after {
    content: ' →';
}
.paginator__pages {
    margin-top: 11px;
}
.paginator__pages-item {
    display: inline;
    margin-right: 10px;
}

/************************product page***************************************/
.product {

}
.product__text {
    margin-top: 40px;
    font-size: 1.1em;
    line-height: 1.3;
}
.product__text p {
    margin: 10px 0;
}
.product__images {
    width: 403px;
    margin-right: 15px;
    float: left;
}
.product__big-img-box {
    min-height: 300px;
    border: 1px solid #bababa;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    text-align: center;
    line-height: 350px;
    background: #fff;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.product__big-img-box.loading {
    opacity: 0.8;
}
.product__big-img-box.loading:after {
    content: '';
    position: absolute;
    width: 82px;
    height: 25px;
    background: url('/css/basket_loading.gif') no-repeat;
    top: 100px;
    left: 50%;
    margin-left: -40px;
}
.product__big-img {
    vertical-align: middle;
}
.product__previews {
    padding: 5px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    background: #f0f0f0;
}
.product__previews-item {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #bababa;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background: #fff;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0.6;
    filter:alpha(opacity=60);
    cursor: pointer;
}
.product__previews-item.selected {
    border-color: #338BC9;
    opacity: 1;
    filter:alpha(opacity=100);
}
.product__settings {
    float: left;
    min-width: 270px
}
.product__settings-header {
}
.product__settings-section {
    margin-bottom: 20px;
    border: none;
}
.product__settings-title {
    margin-bottom: 5px;
    font: italic normal normal 1.15em/1.2 'Open Sans', sans-serif;
    color: #4e4e4e;
}
.product__settings-line {
    margin-bottom: 3px;
}
.product__settings-item {
    display: block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px;
}
.product__settings-x {
    font-size: 0.8em;
    margin: 0 3px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
.product__settings-price {
    float: right;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    top: 3px;
    color: #9b9b9b;
}
.m-product-settings-item_active .product__settings-price,
.m-product-settings-item_active .radio__label {
    color: #304a66;
}
.m-product-settings-item_active {
    background: #f0f0f0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.product__settings-colors {
    display: block;
    margin: 0 -20px 0 0;
    height: 19px;
    line-height: 19px;
}
.product__settings-colors-label {
    display: block;
    padding: 2px 23px 2px 2px;
    overflow: hidden;
    vertical-align: middle;
}
.product__settings-colors-label:after {
    content:'▼';
    position: absolute;
    top: 3px;
    right: 5px;
    text-shadow: 0 -1px 0 #fff;
    font-size: 11px;
}
.product__settings-colors-item {
    overflow: hidden;
    padding: 5px 23px 5px 2px;
}
.product__settings-colors-name {

}
.product__settings-colors-price {
    float: right;
}
.product__settings-total {
    margin: 0 -20px 40px 0;
    border-bottom: 1px solid #cad0d5;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px #cad0d5;
    box-shadow: 0 2px 5px #cad0d5;
    position: relative;
}
.product__settings-total-price,
.product__settings-purchase-button {
    display: inline-block;
    height: 39px;
    padding: 0 10px;
    line-height: 39px;
    text-shadow: 0 -1px 0 #f3f5f7;
    cursor: pointer;
}
.product__settings-purchase-button a {
    text-decoration: none;
}
.product__settings-total-price {
    float: left;
    width: 105px;
    background-color: #d7e2e9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#edf3f8), to(#c0c7cc));
    background-image: -webkit-linear-gradient(top, #edf3f8, #c0c7cc);
    background-image:    -moz-linear-gradient(top, #edf3f8, #c0c7cc);
    background-image:     -ms-linear-gradient(top, #edf3f8, #c0c7cc);
    background-image:      -o-linear-gradient(top, #edf3f8, #c0c7cc);
    background-image:         linear-gradient(to bottom, #edf3f8, #c0c7cc);
    -webkit-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    -webkit-box-shadow: 3px -1px 7px #fff inset;
    box-shadow: 3px -1px 7px #fff inset;
    font: italic normal normal 18px/39px 'Open Sans', sans-serif;
    text-align: right;
    color: #162a40;
    white-space: nowrap;
}
.product__settings-purchase-button {
    margin-left: 125px;
    display: block;
    padding-right: 23px;
    background-color: #d3dfe6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f3fafe), to(#cbd7de));
    background-image: -webkit-linear-gradient(top, #f3fafe, #cbd7de);
    background-image:    -moz-linear-gradient(top, #f3fafe, #cbd7de);
    background-image:     -ms-linear-gradient(top, #f3fafe, #cbd7de);
    background-image:      -o-linear-gradient(top, #f3fafe, #cbd7de);
    background-image:         linear-gradient(to bottom, #f3fafe, #cbd7de);
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -webkit-box-shadow: -3px -1px 7px #fff inset;
    box-shadow: -3px -1px 7px #fff inset;
    font: italic normal normal 15px/39px 'Open Sans', sans-serif;
    text-align: right;
    color: #00499b;
}
.checkout-button-box {
    overflow: hidden;
}
.recalculate-button {
    float: right;
    margin-top: -30px;
}
.basket__loading {
    background: #fff url(/css/basket_loading.gif) no-repeat 50% 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    opacity: 0.8;
}
.active .basket__loading {
    display: block;
}
.product__settings-back {
    text-align: right;
    padding-right: 10px;
}
.product__settings-back-link {

}
.product__settings-back-link:before {
    content: '← ';
}
.product-quantity {
    margin: 15px 0 10px 0;
}
.product-quantity__label {
    margin: 0 6px;
}
.cart {
    position: relative;
    margin-right: 20em;
    padding: 0 20px 20px 20px;
    min-height: 300px;
}
.cart__remove {
    padding-left: 15px;
    background: url(/images/cart__remove.png) no-repeat left 3px;
    color: #777777;
}
.cart__remove:link,
.cart__remove:visited,
.cart__remove:active {
    color: #777777;
}
.cart__remove:hover {
    color: #cf2627;
}
.cart__box {
    position: relative;
    width: 100%;
    float: left;
}
.cart__adds {
    position: relative;
    float: right;
    width: 18em;
    margin-left: -20em;
    right: -20em;
}
.cart__data {
    margin-bottom: 20px;
    padding: 4px 4px 30px 4px;
    border: 1px solid #c7c7c7;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 10px 15px #c8c8c8, 0 4px 10px #c9c9c9, 0 3px 5px #a7a7a7;
}
.cart__table {
    width: 100%;
    table-layout: fixed;
    empty-cells: show;
}
.cart__table-row {

}
.m-cart-table-row_light .cart__table-cell {
    background-color: #f5f5f5;
}
.m-cart-table-row_dark .cart__table-cell {
    background-color: #e4e6e7;
}
.cart__table-cell {
    padding: 4px 5px 4px 4px;
    border-bottom: 2px solid #fff;
    vertical-align: middle;
    line-height: 1.3;
}
.cart__table-cell p {
    margin-bottom: 3px;
}
.cart__table-cell:first-child {
    -webkit-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
}
.cart__table-cell:last-child {
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}
.cart__table-cell-img {
    padding-right: 4px;
    width: 105px;
}
.cart__table-cell-name {
}
.cart__table-cell-info {
    border-right: 1px solid #dadada;
}
.cart__table-cell-count {
    width: 145px;
    padding-left: 10px;
    padding-right: 5px;
    white-space: nowrap;
}
.cart__table-cell-price {
    width: 105px;
    padding-left: 10px;
    padding-right: 5px;
    white-space: nowrap;
}
.cart__price {
    color: #304a66;
    font-size: 1.1em;
}
.cart__func {
    margin-top: 3px;
    color: #777777;
    font-size: 0.9em;
}
.cart__table-img-box {
    width: 95px;
    height: 80px;
    line-height: 80px;
    background: #fff;
    border: 1px solid #bcbcbc;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.cart__table-img {
    vertical-align: middle;
}
.cart__checkout-button {
    width: 22em;
    margin: 30px auto 0 auto;
}
.cart__footer {
    margin: 20px 0;
}
.cart__you-need {
    padding-top: 20px;
    border-top: 1px solid #d2d2d2;
}
/***********************share-cart*********************/
.share-cart {
    margin-bottom: 20px;
    text-align: center;
}

/********************spinbox********************/
.spinner {
    vertical-align: top;
}
.spinner__button {
    display: inline-block;
    height: 23px;
    width: 28px;
    cursor: pointer;
    text-align: center;
}
.spinner__button i {
    margin-right: 0!important;
}
.spinner__field {
    display: inline-block;
    margin: 0 2px!important;
    vertical-align: top!important;
    width: 30px;
    text-align: center;
    border: 1px solid #bbbbbb;
    background: #ffffff;
    padding: 0;
    color: #454545;
    font-size: 15px;
    text-shadow: 0 -1px 0 #fff;
}
.dropdown-basket {

}
.dropdown-basket__item {
    padding: 10px;
    border-bottom: solid 1px rgb(244,244,244);
    font-size: 15px;
}
.dropdown-basket__item-last {
    border-bottom: none;
}
/***********************button************************/
.button {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    border-bottom: 1px solid #adb9a4;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    background-color: #dfdfe0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfe0));
    background-image: -webkit-linear-gradient(top, #ffffff, #dfdfe0);
    background-image:    -moz-linear-gradient(top, #ffffff, #dfdfe0);
    background-image:     -ms-linear-gradient(top, #ffffff, #dfdfe0);
    background-image:      -o-linear-gradient(top, #ffffff, #dfdfe0);
    background-image:         linear-gradient(to bottom, #ffffff, #dfdfe0);
    text-shadow: 0 -1px 0 #fff;
}
.m-button_right {
    float: right;
}
.m-button_small-text {
    font-size: 0.9em;
}

.btn,
a.btn {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    padding: 3px 5px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    *line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #e6e6e6;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #bbbbbb;
    *border: 0;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
    background-color: #cccccc \9;
}
.btn:first-child {
    *margin-left: 0;
}
.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    /* Buttons in IE7 don't get borders, so darken on hover */

    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn.active,
.btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled,
.btn[disabled] {
    cursor: default;
    background-color: #e6e6e6;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-large {
    padding: 9px 14px;
    font-size: 16px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.btn-large [class^="icon-"] {
    margin-top: 2px;
}
.btn-small {
    padding: 3px 9px;
    font-size: 12px;
    line-height: 18px;
}
.btn-small [class^="icon-"] {
    margin-top: 0;
}
.btn-mini {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 17px;
}
.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-block + .btn-block {
    margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn,
a.btn {
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    text-decoration: none!important;
}
.btn-primary,
a.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #0044cc;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff;
    background-color: #0044cc;
    *background-color: #003bb3;
}
.btn-primary:active,
.btn-primary.active {
    background-color: #003399 \9;
}
.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #f89406;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    color: #ffffff;
    background-color: #f89406;
    *background-color: #df8505;
}
.btn-warning:active,
.btn-warning.active {
    background-color: #c67605 \9;
}
.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #bd362f;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    color: #ffffff;
    background-color: #bd362f;
    *background-color: #a9302a;
}
.btn-danger:active,
.btn-danger.active {
    background-color: #942a25 \9;
}
.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #51a351;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    color: #ffffff;
    background-color: #51a351;
    *background-color: #499249;
}
.btn-success:active,
.btn-success.active {
    background-color: #408140 \9;
}
.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #2f96b4;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    color: #ffffff;
    background-color: #2f96b4;
    *background-color: #2a85a0;
}
.btn-info:active,
.btn-info.active {
    background-color: #24748c \9;
}
.btn-inverse {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #222222;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
    color: #ffffff;
    background-color: #222222;
    *background-color: #151515;
}
.btn-inverse:active,
.btn-inverse.active {
    background-color: #080808 \9;
}
button.btn,
input[type="submit"].btn {
    *padding-top: 3px;
    *padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-link {
    border-color: transparent;
    cursor: pointer;
    color: #0088cc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn-link:hover {
    color: #005580;
    text-decoration: underline;
    background-color: transparent;
}
.btn-link[disabled]:hover {
    color: #333333;
    text-decoration: none;
}
.btn-group {
    position: relative;
    font-size: 0;
    vertical-align: middle;
    white-space: nowrap;
    *margin-left: .3em;
}
.btn-group:first-child {
    *margin-left: 0;
}
.btn-group + .btn-group {
    margin-left: 5px;
}
.btn-toolbar {
    font-size: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-toolbar .btn-group {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
}
.btn-toolbar .btn + .btn,
.btn-toolbar .btn-group + .btn,
.btn-toolbar .btn + .btn-group {
    margin-left: 5px;
}
.btn-group > .btn {
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn-group > .btn + .btn {
    margin-left: -1px;
}
.btn-group > .btn,
.btn-group > .dropdown-menu {
    font-size: 14px;
}
.btn-group > .btn-mini {
    font-size: 11px;
}
.btn-group > .btn-small {
    font-size: 12px;
}
.btn-group > .btn-large {
    font-size: 16px;
}
.btn-group > .btn:first-child {
    margin-left: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group > .btn.large:first-child {
    margin-left: 0;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
}
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
    z-index: 2;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
    outline: 0;
}
.btn-group > .btn + .dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
    -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    *padding-top: 5px;
    *padding-bottom: 5px;
}
.btn-group > .btn-mini + .dropdown-toggle {
    padding-left: 5px;
    padding-right: 5px;
    *padding-top: 2px;
    *padding-bottom: 2px;
}
.btn-group > .btn-small + .dropdown-toggle {
    *padding-top: 5px;
    *padding-bottom: 4px;
}
.btn-group > .btn-large + .dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px;
    *padding-top: 7px;
    *padding-bottom: 7px;
}
.btn-group.open .dropdown-toggle {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-group.open .btn.dropdown-toggle {
    background-color: #e6e6e6;
}
.btn-group.open .btn-primary.dropdown-toggle {
    background-color: #0044cc;
}
.btn-group.open .btn-warning.dropdown-toggle {
    background-color: #f89406;
}
.btn-group.open .btn-danger.dropdown-toggle {
    background-color: #bd362f;
}
.btn-group.open .btn-success.dropdown-toggle {
    background-color: #51a351;
}
.btn-group.open .btn-info.dropdown-toggle {
    background-color: #2f96b4;
}
.btn-group.open .btn-inverse.dropdown-toggle {
    background-color: #222222;
}
.btn .caret {
    margin-top: 8px;
    margin-left: 0;
}
.btn-mini .caret,
.btn-small .caret,
.btn-large .caret {
    margin-top: 6px;
}
.btn-large .caret {
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px;
}
.dropup .btn-large .caret {
    border-bottom: 5px solid #000000;
    border-top: 0;
}
.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.btn-group-vertical {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
}
.btn-group-vertical .btn {
    display: block;
    float: none;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn-group-vertical .btn + .btn {
    margin-left: 0;
    margin-top: -1px;
}
.btn-group-vertical .btn:first-child {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.btn-group-vertical .btn:last-child {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.btn-group-vertical .btn-large:first-child {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.btn-group-vertical .btn-large:last-child {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.fade.in {
    opacity: 1;
}
.collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}
.collapse.in {
    height: auto;
}
[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("/layout/img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    margin-top: 1px;
}
/* White icons with optional class, or on hover/active states of certain elements */
.icon-white,
.nav-tabs > .active > a > [class^="icon-"],
.nav-tabs > .active > a > [class*=" icon-"],
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
    background-image: url("/css/glyphicons-halflings-white.png");
}
.icon-glass {
    background-position: 0      0;
}
.icon-music {
    background-position: -24px 0;
}
.icon-search {
    background-position: -48px 0;
}
.icon-envelope {
    background-position: -72px 0;
}
.icon-heart {
    background-position: -96px 0;
}
.icon-star {
    background-position: -120px 0;
}
.icon-star-empty {
    background-position: -144px 0;
}
.icon-user {
    background-position: -168px 0;
}
.icon-film {
    background-position: -192px 0;
}
.icon-th-large {
    background-position: -216px 0;
}
.icon-th {
    background-position: -240px 0;
}
.icon-th-list {
    background-position: -264px 0;
}
.icon-ok {
    background-position: -288px 0;
}
.icon-remove {
    background-position: -312px 0;
}
.icon-zoom-in {
    background-position: -336px 0;
}
.icon-zoom-out {
    background-position: -360px 0;
}
.icon-off {
    background-position: -384px 0;
}
.icon-signal {
    background-position: -408px 0;
}
.icon-cog {
    background-position: -432px 0;
}
.icon-trash {
    background-position: -456px 0;
}
.icon-home {
    background-position: 0 -24px;
}
.icon-file {
    background-position: -24px -24px;
}
.icon-time {
    background-position: -48px -24px;
}
.icon-road {
    background-position: -72px -24px;
}
.icon-download-alt {
    background-position: -96px -24px;
}
.icon-download {
    background-position: -120px -24px;
}
.icon-upload {
    background-position: -144px -24px;
}
.icon-inbox {
    background-position: -168px -24px;
}
.icon-play-circle {
    background-position: -192px -24px;
}
.icon-repeat {
    background-position: -216px -24px;
}
.icon-refresh {
    background-position: -240px -24px;
}
.icon-list-alt {
    background-position: -264px -24px;
}
.icon-lock {
    background-position: -287px -24px;
}
.icon-flag {
    background-position: -312px -24px;
}
.icon-headphones {
    background-position: -336px -24px;
}
.icon-volume-off {
    background-position: -360px -24px;
}
.icon-volume-down {
    background-position: -384px -24px;
}
.icon-volume-up {
    background-position: -408px -24px;
}
.icon-qrcode {
    background-position: -432px -24px;
}
.icon-barcode {
    background-position: -456px -24px;
}
.icon-tag {
    background-position: 0 -48px;
}
.icon-tags {
    background-position: -25px -48px;
}
.icon-book {
    background-position: -48px -48px;
}
.icon-bookmark {
    background-position: -72px -48px;
}
.icon-print {
    background-position: -96px -48px;
}
.icon-camera {
    background-position: -120px -48px;
}
.icon-font {
    background-position: -144px -48px;
}
.icon-bold {
    background-position: -167px -48px;
}
.icon-italic {
    background-position: -192px -48px;
}
.icon-text-height {
    background-position: -216px -48px;
}
.icon-text-width {
    background-position: -240px -48px;
}
.icon-align-left {
    background-position: -264px -48px;
}
.icon-align-center {
    background-position: -288px -48px;
}
.icon-align-right {
    background-position: -312px -48px;
}
.icon-align-justify {
    background-position: -336px -48px;
}
.icon-list {
    background-position: -360px -48px;
}
.icon-indent-left {
    background-position: -384px -48px;
}
.icon-indent-right {
    background-position: -408px -48px;
}
.icon-facetime-video {
    background-position: -432px -48px;
}
.icon-picture {
    background-position: -456px -48px;
}
.icon-pencil {
    background-position: 0 -72px;
}
.icon-map-marker {
    background-position: -24px -72px;
}
.icon-adjust {
    background-position: -48px -72px;
}
.icon-tint {
    background-position: -72px -72px;
}
.icon-edit {
    background-position: -96px -72px;
}
.icon-share {
    background-position: -120px -72px;
}
.icon-check {
    background-position: -144px -72px;
}
.icon-move {
    background-position: -168px -72px;
}
.icon-step-backward {
    background-position: -192px -72px;
}
.icon-fast-backward {
    background-position: -216px -72px;
}
.icon-backward {
    background-position: -240px -72px;
}
.icon-play {
    background-position: -264px -72px;
}
.icon-pause {
    background-position: -288px -72px;
}
.icon-stop {
    background-position: -312px -72px;
}
.icon-forward {
    background-position: -336px -72px;
}
.icon-fast-forward {
    background-position: -360px -72px;
}
.icon-step-forward {
    background-position: -384px -72px;
}
.icon-eject {
    background-position: -408px -72px;
}
.icon-chevron-left {
    background-position: -432px -72px;
}
.icon-chevron-right {
    background-position: -456px -72px;
}
.icon-plus-sign {
    background-position: 0 -96px;
}
.icon-minus-sign {
    background-position: -24px -96px;
}
.icon-remove-sign {
    background-position: -48px -96px;
}
.icon-ok-sign {
    background-position: -72px -96px;
}
.icon-question-sign {
    background-position: -96px -96px;
}
.icon-info-sign {
    background-position: -120px -96px;
}
.icon-screenshot {
    background-position: -144px -96px;
}
.icon-remove-circle {
    background-position: -168px -96px;
}
.icon-ok-circle {
    background-position: -192px -96px;
}
.icon-ban-circle {
    background-position: -216px -96px;
}
.icon-arrow-left {
    background-position: -240px -96px;
}
.icon-arrow-right {
    background-position: -264px -96px;
}
.icon-arrow-up {
    background-position: -289px -96px;
}
.icon-arrow-down {
    background-position: -312px -96px;
}
.icon-share-alt {
    background-position: -336px -96px;
}
.icon-resize-full {
    background-position: -360px -96px;
}
.icon-resize-small {
    background-position: -384px -96px;
}
.icon-plus {
    background-position: -408px -96px;
}
.icon-minus {
    background-position: -433px -96px;
}
.icon-asterisk {
    background-position: -456px -96px;
}
.icon-exclamation-sign {
    background-position: 0 -120px;
}
.icon-gift {
    background-position: -24px -120px;
}
.icon-leaf {
    background-position: -48px -120px;
}
.icon-fire {
    background-position: -72px -120px;
}
.icon-eye-open {
    background-position: -96px -120px;
}
.icon-eye-close {
    background-position: -120px -120px;
}
.icon-warning-sign {
    background-position: -144px -120px;
}
.icon-plane {
    background-position: -168px -120px;
}
.icon-calendar {
    background-position: -192px -120px;
}
.icon-random {
    background-position: -216px -120px;
    width: 16px;
}
.icon-comment {
    background-position: -240px -120px;
}
.icon-magnet {
    background-position: -264px -120px;
}
.icon-chevron-up {
    background-position: -288px -120px;
}
.icon-chevron-down {
    background-position: -313px -119px;
}
.icon-retweet {
    background-position: -336px -120px;
}
.icon-shopping-cart {
    background-position: -360px -120px;
}
.icon-folder-close {
    background-position: -384px -120px;
}
.icon-folder-open {
    background-position: -408px -120px;
    width: 16px;
}
.icon-resize-vertical {
    background-position: -432px -119px;
}
.icon-resize-horizontal {
    background-position: -456px -118px;
}
.icon-hdd {
    background-position: 0 -144px;
}
.icon-bullhorn {
    background-position: -24px -144px;
}
.icon-bell {
    background-position: -48px -144px;
}
.icon-certificate {
    background-position: -72px -144px;
}
.icon-thumbs-up {
    background-position: -96px -144px;
}
.icon-thumbs-down {
    background-position: -120px -144px;
}
.icon-hand-right {
    background-position: -144px -144px;
}
.icon-hand-left {
    background-position: -168px -144px;
}
.icon-hand-up {
    background-position: -192px -144px;
}
.icon-hand-down {
    background-position: -216px -144px;
}
.icon-circle-arrow-right {
    background-position: -240px -144px;
}
.icon-circle-arrow-left {
    background-position: -264px -144px;
}
.icon-circle-arrow-up {
    background-position: -288px -144px;
}
.icon-circle-arrow-down {
    background-position: -312px -144px;
}
.icon-globe {
    background-position: -336px -144px;
}
.icon-wrench {
    background-position: -360px -144px;
}
.icon-tasks {
    background-position: -384px -144px;
}
.icon-filter {
    background-position: -408px -144px;
}
.icon-briefcase {
    background-position: -432px -144px;
}
.icon-fullscreen {
    background-position: -456px -144px;
}

/* Order List */
div.order-item { margin: 0 0 2em 0; zoom:1; }
div.order-title-inner { padding: 8px 12px 10px 12px; overflow: hidden; zoom: 1;}
div.order-title-inner span { font-weight: bold; float: left;}
div.order-title-inner a { float: right; }
div.order-title .r1 {}
div.order-title .r2, div.order-title .r0 { border-left: 1px solid; border-right: 1px solid;}

div.order-info { overflow: hidden; padding: 1em 11px 1em 11px; border-bottom: 1px solid; border-right: 1px solid; border-left: 1px solid; zoom:1; }
div.order-details { float: left; width: 60%;}
div.order-status-info { float: right; width: 30%;}
div.order-status-date { margin-bottom: 0.7em;}
div.order-status { margin-bottom: 0.7em; padding: 0.2em 0.6em 0.3em; }
div.order-status-links a { display: block; outline: none; margin-bottom: 0.3em;}

div.order-props p { margin: 0 0 0.5em 0;}
div.order-items { margin: 1em 0 0 1.5em; }
div.order-items ol { padding: 0 0 0 1.5em; margin: 0.5em 0 0;}
div.order-items li { margin: 0 0 0.5em 0;}
div.order-buttons {text-align: center;}
div.order-buttons input { padding-left: 0.5em; padding-right: 0.5em; overflow: visible;}

table.order-properties { width: 100%;}
table.order-properties td { vertical-align: top; padding:0 0.5em 0.3em; }
table.order-properties td.field-name { text-align: right; width: 50%; color: #7f7f7f;}
table.order-properties td.field-value { width: 50%; }
table.order-properties td.field-title { text-align: center; font-weight: bold; padding: 0.5em;}

div.order-checkout div.order-title-inner, div.order-full-summary div.order-title-inner { padding: 2px 12px 4px; }
div.order-checkout table.cart-items tfoot td, div.order-full-summary table.cart-items tfoot td { border: none;}
div.order-checkout div.order-item, div.order-full-summary div.order-item { margin: 0 0 1.2em 0;}


.cart-buttons .refresh input:hover{background-position: 0 -41px;}
.cart-buttons .refresh input:active{background-position: 0 -82px;}
.cart-buttons .continue input:hover { background-position: 0 -41px;}
.cart-buttons .continue input:active { background-position: 0 -81px;}


/* Order List */
div.order-title b, div.order-title-inner { background-color: #e6e6e6;}
div.order-title-inner span { color: #353535;}
div.order-title .r2, div.order-title .r0 { border-color: #FAFAFA;}

div.order-info { border-bottom-color: #F0F0F0; border-right-color: #F7F7F7; border-left-color: #F7F7F7;}
div.order-status { background-color: #A4A4A4; color: #FFF;}
div.order-status-n { background-color: #FFAE00;}
div.order-status-deny { background-color: #F20000;}
div.order-status-p { background-color: #3ABE00;}

div.order-items { color: #7F7F7F}


form {
    margin: 0 0 20px;
}
fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}
legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
legend small {
    font-size: 15px;
    color: #999999;
}
label,
input,
button,
select,
textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
input,
button,
select,
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
    display: block;
    margin-bottom: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input,
textarea,
.uneditable-input {
    width: 206px;
}
textarea {
    height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    *margin-top: 0;
    /* IE7 */

    margin-top: 1px \9;
    /* IE8-9 */

    line-height: normal;
    cursor: pointer;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}
select,
input[type="file"] {
    height: 30px;
    /* In IE7, the height of the select element cannot be changed by height, only font-size */

    *margin-top: 4px;
    /* For IE7, add top margin to align select with labels */

    line-height: 30px;
}
select {
    width: 220px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
select[multiple],
select[size] {
    height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.uneditable-input,
.uneditable-textarea {
    color: #999999;
    background-color: #fcfcfc;
    border-color: #cccccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    cursor: not-allowed;
}
.uneditable-input {
    overflow: hidden;
    white-space: nowrap;
}
.uneditable-textarea {
    width: auto;
    height: auto;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999999;
}
.radio,
.checkbox {
    min-height: 18px;
    padding-left: 18px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    float: left;
    margin-left: -18px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
    padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
    margin-left: 10px;
}
.input-mini {
    width: 60px;
}
.input-small {
    width: 90px;
}
.input-medium {
    width: 150px;
}
.input-large {
    width: 210px;
}
.input-xlarge {
    width: 270px;
}
.input-xxlarge {
    width: 530px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
    float: none;
    margin-left: 0;
}
.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
    display: inline-block;
}
input,
textarea,
.uneditable-input {
    margin-left: 0;
}
.controls-row [class*="span"] + [class*="span"] {
    margin-left: 20px;
}
input.span12, textarea.span12, .uneditable-input.span12 {
    width: 926px;
}
input.span11, textarea.span11, .uneditable-input.span11 {
    width: 846px;
}
input.span10, textarea.span10, .uneditable-input.span10 {
    width: 766px;
}
input.span9, textarea.span9, .uneditable-input.span9 {
    width: 686px;
}
input.span8, textarea.span8, .uneditable-input.span8 {
    width: 606px;
}
input.span7, textarea.span7, .uneditable-input.span7 {
    width: 526px;
}
input.span6, textarea.span6, .uneditable-input.span6 {
    width: 446px;
}
input.span5, textarea.span5, .uneditable-input.span5 {
    width: 366px;
}
input.span4, textarea.span4, .uneditable-input.span4 {
    width: 286px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
    width: 206px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
    width: 126px;
}
input.span1, textarea.span1, .uneditable-input.span1 {
    width: 46px;
}
.controls-row {
    *zoom: 1;
}
.controls-row:before,
.controls-row:after {
    display: table;
    content: "";
    line-height: 0;
}
.controls-row:after {
    clear: both;
}
.controls-row [class*="span"] {
    float: left;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
    background-color: #eeeeee;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
    background-color: transparent;
}
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
    color: #c09853;
}
.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
    color: #c09853;
}
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
    border-color: #c09853;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
    border-color: #a47e3c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #c09853;
}
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
    color: #b94a48;
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    color: #b94a48;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #b94a48;
}
.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
    color: #468847;
}
.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
    color: #468847;
}
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
    border-color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
    color: #468847;
    background-color: #dff0d8;
    border-color: #468847;
}
.control-group.info > label,
.control-group.info .help-block,
.control-group.info .help-inline {
    color: #3a87ad;
}
.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
    color: #3a87ad;
}
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
    border-color: #3a87ad;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
    border-color: #2d6987;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}
.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #3a87ad;
}
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
    color: #b94a48;
    border-color: #ee5f5b;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}
.form-actions {
    padding: 19px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    *zoom: 1;
}
.form-actions:before,
.form-actions:after {
    display: table;
    content: "";
    line-height: 0;
}
.form-actions:after {
    clear: both;
}
.help-block,
.help-inline {
    color: #595959;
}
.help-block {
    display: block;
    margin-bottom: 10px;
}
.help-inline {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    vertical-align: middle;
    padding-left: 5px;
}
.input-append,
.input-prepend {
    margin-bottom: 5px;
    font-size: 0;
    white-space: nowrap;
}
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
    position: relative;
    margin-bottom: 0;
    *margin-left: 0;
    font-size: 14px;
    vertical-align: top;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
    z-index: 2;
}
.input-append .add-on,
.input-prepend .add-on {
    display: inline-block;
    width: auto;
    height: 20px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #eeeeee;
    border: 1px solid #ccc;
}
.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn {
    vertical-align: top;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.input-append .active,
.input-prepend .active {
    background-color: #a9dba9;
    border-color: #46a546;
}
.input-prepend .add-on,
.input-prepend .btn {
    margin-right: -1px;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.input-append .add-on,
.input-append .btn {
    margin-left: -1px;
}
.input-append .add-on:last-child,
.input-append .btn:last-child {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
    margin-right: -1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
    margin-left: -1px;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
input.search-query {
    padding-right: 14px;
    padding-right: 4px \9;
    padding-left: 14px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
/* Allow for input prepend/append in search forms */
.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.form-search .input-append .search-query {
    -webkit-border-radius: 14px 0 0 14px;
    -moz-border-radius: 14px 0 0 14px;
    border-radius: 14px 0 0 14px;
}
.form-search .input-append .btn {
    -webkit-border-radius: 0 14px 14px 0;
    -moz-border-radius: 0 14px 14px 0;
    border-radius: 0 14px 14px 0;
}
.form-search .input-prepend .search-query {
    -webkit-border-radius: 0 14px 14px 0;
    -moz-border-radius: 0 14px 14px 0;
    border-radius: 0 14px 14px 0;
}
.form-search .input-prepend .btn {
    -webkit-border-radius: 14px 0 0 14px;
    -moz-border-radius: 14px 0 0 14px;
    border-radius: 14px 0 0 14px;
}
.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
    display: none;
}
.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
    display: inline-block;
}
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
    margin-bottom: 0;
}
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
    padding-left: 0;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
    float: left;
    margin-right: 3px;
    margin-left: 0;
}
.control-group {
    margin-bottom: 10px;
}
legend + .control-group {
    margin-top: 20px;
    -webkit-margin-top-collapse: separate;
}
.form-horizontal .control-group {
    margin-bottom: 20px;
    *zoom: 1;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
    display: table;
    content: "";
    line-height: 0;
}
.form-horizontal .control-group:after {
    clear: both;
}
.form-horizontal .control-label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
}
.form-horizontal .controls {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: 180px;
    *margin-left: 0;
}
.form-horizontal .controls:first-child {
    *padding-left: 180px;
}
.form-horizontal .help-block {
    margin-bottom: 0;
}
.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block {
    margin-top: 10px;
}
.form-horizontal .form-actions {
    padding-left: 180px;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #c09853;
    font-size: 16px;
    line-height: 1.4;
}
.alert h4 {
    margin: 0;
}
.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}
.alert-danger,
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}
.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
    margin-bottom: 0;
}
.alert-block p + p {
    margin-top: 5px;
}

.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    padding: 5px;
    font-size: 11px;
    opacity: 0;
    filter: alpha(opacity=0);
}
.tooltip.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.tooltip.top {
    margin-top: -3px;
}
.tooltip.right {
    margin-left: 3px;
}
.tooltip.bottom {
    margin-top: 3px;
}
.tooltip.left {
    margin-left: -3px;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000000;
}
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    width: 236px;
    padding: 1px;
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.popover.top {
    margin-bottom: 10px;
}
.popover.right {
    margin-left: 10px;
}
.popover.bottom {
    margin-top: 10px;
}
.popover.left {
    margin-right: 10px;
}
.popover-title {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.popover-content {
    padding: 9px 14px;
}
.popover-content p,
.popover-content ul,
.popover-content ol {
    margin-bottom: 0;
}
.popover .arrow,
.popover .arrow:after {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.popover .arrow:after {
    content: "";
    z-index: -1;
}
.popover.top .arrow {
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    border-width: 10px 10px 0;
    border-top-color: #ffffff;
}
.popover.top .arrow:after {
    border-width: 11px 11px 0;
    border-top-color: rgba(0, 0, 0, 0.25);
    bottom: -1px;
    left: -11px;
}
.popover.right .arrow {
    top: 50%;
    left: -10px;
    margin-top: -10px;
    border-width: 10px 10px 10px 0;
    border-right-color: #ffffff;
}
.popover.right .arrow:after {
    border-width: 11px 11px 11px 0;
    border-right-color: rgba(0, 0, 0, 0.25);
    bottom: -11px;
    left: -1px;
}
.popover.bottom .arrow {
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-width: 0 10px 10px;
    border-bottom-color: #ffffff;
}
.popover.bottom .arrow:after {
    border-width: 0 11px 11px;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    top: -1px;
    left: -11px;
}
.popover.left .arrow {
    top: 50%;
    right: -10px;
    margin-top: -10px;
    border-width: 10px 0 10px 10px;
    border-left-color: #ffffff;
}
.popover.left .arrow:after {
    border-width: 11px 0 11px 11px;
    border-left-color: rgba(0, 0, 0, 0.25);
    bottom: -11px;
    right: -1px;
}

.starrequired {
    color: red;
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.table {
    width: 100%;
    margin-bottom: 20px;
}
.table th,
.table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}
.table th {
    font-weight: bold;
}
.table thead th {
    vertical-align: bottom;
}
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
    border-top: 0;
}
.table tbody + tbody {
    border-top: 2px solid #dddddd;
}
.table-condensed th,
.table-condensed td {
    padding: 4px 5px;
}
.table-bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.table-bordered th,
.table-bordered td {
    border-left: 1px solid #dddddd;
}
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
    border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered tfoot:last-child tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
.table-bordered tfoot:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
}
.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}
.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #f5f5f5;
}
table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
    display: table-cell;
    float: none;
    margin-left: 0;
}
.table td.span1,
.table th.span1 {
    float: none;
    width: 44px;
    margin-left: 0;
}
.table td.span2,
.table th.span2 {
    float: none;
    width: 124px;
    margin-left: 0;
}
.table td.span3,
.table th.span3 {
    float: none;
    width: 204px;
    margin-left: 0;
}
.table td.span4,
.table th.span4 {
    float: none;
    width: 284px;
    margin-left: 0;
}
.table td.span5,
.table th.span5 {
    float: none;
    width: 364px;
    margin-left: 0;
}
.table td.span6,
.table th.span6 {
    float: none;
    width: 444px;
    margin-left: 0;
}
.table td.span7,
.table th.span7 {
    float: none;
    width: 524px;
    margin-left: 0;
}
.table td.span8,
.table th.span8 {
    float: none;
    width: 604px;
    margin-left: 0;
}
.table td.span9,
.table th.span9 {
    float: none;
    width: 684px;
    margin-left: 0;
}
.table td.span10,
.table th.span10 {
    float: none;
    width: 764px;
    margin-left: 0;
}
.table td.span11,
.table th.span11 {
    float: none;
    width: 844px;
    margin-left: 0;
}
.table td.span12,
.table th.span12 {
    float: none;
    width: 924px;
    margin-left: 0;
}
.table tbody tr.success td {
    background-color: #dff0d8;
}
.table tbody tr.error td {
    background-color: #f2dede;
}
.table tbody tr.warning td {
    background-color: #fcf8e3;
}
.table tbody tr.info td {
    background-color: #d9edf7;
}
.table-hover tbody tr.success:hover td {
    background-color: #d0e9c6;
}
.table-hover tbody tr.error:hover td {
    background-color: #ebcccc;
}
.table-hover tbody tr.warning:hover td {
    background-color: #faf2cc;
}
.table-hover tbody tr.info:hover td {
    background-color: #c4e3f3;
}

.text-right, td.text-right {
    text-align: right;
}

.contacts-info-table {
    margin-bottom:20px;

}
.contacts-info-table td {
    padding: 5px 20px 5px 0;

}
.big-phone {
    font-size: 2em;
    margin: 5px 0 0 0;
}

.stars-rating {
    background: url(/images/bg-stars.png) no-repeat;
    width: 99px;
    height: 22px;
}

.stars-raging1 {

}

.stars-rating2 {
    background-position: 0 -44px;
}
.stars-rating3 {
    background-position: 0 -66px;
}
.stars-rating4 {
    background-position: 0 -88px;
}
.stars-rating5 {
    background-position: 0 -110px;
}