a.bx_bt_button {
    margin: 10%;
    width: 48%;
    min-width: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 25px;
    height: 25px;
}
.bx_medium {
    background: #a9331c;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #a9331c 0%, #651c0d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9331c), color-stop(100%,#651c0d));
    background: -webkit-linear-gradient(top, #a9331c 0%,#651c0d 100%);
    background: -o-linear-gradient(top, #a9331c 0%,#651c0d 100%);
    background: -ms-linear-gradient(top, #a9331c 0%,#651c0d 100%);
    background: linear-gradient(to bottom, #a9331c 0%,#651c0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9331c', endColorstr='#651c0d',GradientType=0 );
    color: #fff;
    text-shadow: 0 1px 0 #702112;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}