/**
 * Image Select Styles
 *
 * @author    Adnan Sagar, PhD <adnan@websemantics.ca>
 * @copyright 2002-2015 Web Semantics, Inc. (http://websemantics.ca) & AlterSpark Corp. (http://www.alterspark.com)
 * @license   http://www.opensource.org/licenses/mit-license.php MIT
 * @link      http://websemantics.ca
 * @package   websemantics/image-select
 */

/* Tag image */
.chose-image {
	width:55px;
	max-height:55px;
	padding: 2px 5px 3px 0px;
	vertical-align:middle;
}

.chose-image.rtl {
	padding: 2px 0px 3px 5px;
}

/* Image for Single mode */
.chose-image-small {
	width:28px;
	max-height:28px;
	vertical-align: middle;
	margin: -3px 0 0 0;
	padding: 0 3px 0 0;
}

.chose-image-small.rtl {
	padding: 0 0 0 3px;
}

/* Images appended to the li(s) */
.chose-image-list {
	width:28px;
	max-height:28px;
	vertical-align: middle;
	margin: -3px 0 0 0;
	padding: 0 3px 0 0;
}

.chose-image-list.rtl {
	padding: 0 0 0 3px;
}

/* Grey-out image for Multi mode */
div.chosen-container-multi .result-selected img {
	opacity: 0.3;
}